@use 'css/training/pratique/dairy/abstracts' as *

/* ---------------------- CARD ----------------------*/
.card
   display: flex
   justify-content: center
   align-items: center
   height: 20rem
   gap: 2rem
   &-header
      &__img-container
         &--img
            width: 100%
   &-body
      h4
         color: $color-primary
