$typograpgy: (
  desktop: (
    font-weight-text: Extrabold,
    font-weight-digit: 600,
    font-face: (
      family: (
        primary: Roboto,
        secondary: "Lexend Exa",
        tertiary: Poppins,
        serif: Hahmlet,
        sans-serif: Figtree,
      ),
      weight: (
        bold: (
          font-weight-text: Bold,
          font-weight-digit: 700,
        ),
        regular: (
          font-weight-text: Regular,
          font-weight-digit: 400,
        ),
        semibold: (
          font-weight-text: Semibold,
          font-weight-digit: 600,
        ),
        style: (
          italic: Italic,
        ),
      ),
    ),
    headings: (
      main: (
        font-size: 7.2rem,
        line-height: 8.64rem,
        letter-spacing: -0.144rem,
        paragraph-spacing: 7.2rem,
      ),
      h1: (
        font-size: 6.4rem,
        line-height: 7.68rem,
        letter-spacing: -0.128rem,
        paragraph-spacing: 6.4rem,
      ),
      h2: (
        font-size: 4.8rem,
        line-height: 5.76rem,
        letter-spacing: -0.096rem,
        paragraph-spacing: 4.8rem,
      ),
      h3: (
        font-size: 4rem,
        line-height: 4.8rem,
        letter-spacing: -0.04rem,
        paragraph-spacing: 4rem,
      ),
      h4: (
        font-size: 3rem,
        line-height: 3.6rem,
        letter-spacing: -0.03rem,
        paragraph-spacing: 3rem,
      ),
      h5: (
        font-size: 2.4rem,
        line-height: 3.12rem,
        letter-spacing: -0.024rem,
        paragraph-spacing: 2.4rem,
      ),
      h6: (
        font-size: 2rem,
        line-height: 3rem,
        letter-spacing: 0rem,
        paragraph-spacing: 2rem,
      ),
    ),
    body: (
      large: (
        font-size: 1.8rem,
        line-height: 3.06rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.8rem,
      ),
      normal: (
        font-size: 1.6rem,
        line-height: 2.72rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.6rem,
      ),
      small: (
        font-size: 1.4rem,
        line-height: 2.38rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.4rem,
      ),
      caption: (
        font-size: 1.2rem,
        line-height: 1.8rem,
        letter-spacing: 0.024rem,
        paragraph-spacing: 1.2rem,
      ),
      xtra-small: (
        font-size: 1.2rem,
        line-height: 1.56rem,
        letter-spacing: 0.012rem,
        paragraph-spacing: 1.2rem,
      ),
      notes: (
        font-size: 1rem,
        line-height: 1.5rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1rem,
      ),
      thin: (
        font-size: 0.8rem,
        line-height: 1.2rem,
        letter-spacing: 0rem,
        paragraph-spacing: 0.6rem,
      ),
    ),
  ),
  tablet: (
    font-weight-text: Extrabold,
    font-weight-digit: 600,
    font-face: (
      family: (
        primary: Roboto,
        secondary: "Lexend Exa",
        tertiary: Poppins,
        serif: Hahmlet,
        sans-serif: Figtree,
      ),
      weight: (
        bold: (
          font-weight-text: Medium,
          font-weight-digit: 500,
        ),
        regular: (
          font-weight-text: Regular,
          font-weight-digit: 400,
        ),
        semibold: (
          font-weight-text: Medium,
          font-weight-digit: 500,
        ),
        style: (
          italic: Italic,
        ),
      ),
    ),
    headings: (
      main: (
        font-size: 6.4rem,
        line-height: 7.68rem,
        letter-spacing: -0.128rem,
        paragraph-spacing: 6.4rem,
      ),
      h1: (
        font-size: 4.8rem,
        line-height: 5.76rem,
        letter-spacing: -0.048rem,
        paragraph-spacing: 4.8rem,
      ),
      h2: (
        font-size: 4rem,
        line-height: 4.8rem,
        letter-spacing: -0.04rem,
        paragraph-spacing: 4rem,
      ),
      h3: (
        font-size: 3.2rem,
        line-height: 3.84rem,
        letter-spacing: -0.032rem,
        paragraph-spacing: 3.2rem,
      ),
      h4: (
        font-size: 2.8rem,
        line-height: 3.36rem,
        letter-spacing: 0rem,
        paragraph-spacing: 2.8rem,
      ),
      h5: (
        font-size: 2.2rem,
        line-height: 2.86rem,
        letter-spacing: 0rem,
        paragraph-spacing: 2.2rem,
      ),
      h6: (
        font-size: 1.8rem,
        line-height: 2.4rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.8rem,
      ),
    ),
    body: (
      large: (
        font-size: 1.8rem,
        line-height: 1.8rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.8rem,
      ),
      normal: (
        font-size: 1.6rem,
        line-height: 2.4rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.6rem,
      ),
      small: (
        font-size: 1.4rem,
        line-height: 2.1rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.4rem,
      ),
      caption: (
        font-size: 1.2rem,
        line-height: 1.8rem,
        letter-spacing: 0.024rem,
        paragraph-spacing: 1.2rem,
      ),
      xtra-small: (
        font-size: 1.2rem,
        line-height: 1.56rem,
        letter-spacing: 0.012rem,
        paragraph-spacing: 1.2rem,
      ),
      notes: (
        font-size: 1rem,
        line-height: 1.5rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1rem,
      ),
      thin: (
        font-size: 0.8rem,
        line-height: 1.2rem,
        letter-spacing: 0rem,
        paragraph-spacing: 0.6rem,
      ),
    ),
  ),
  phone: (
    font-weight-text: Extrabold,
    font-weight-digit: 600,
    font-face: (
      family: (
        primary: Roboto,
        secondary: "Lexend Exa",
        tertiary: Poppins,
        serif: Hahmlet,
        sans-serif: Figtree,
      ),
      weight: (
        bold: (
          font-weight-text: Medium,
          font-weight-digit: 500,
        ),
        regular: (
          font-weight-text: Regular,
          font-weight-digit: 400,
        ),
        semibold: (
          font-weight-text: Medium,
          font-weight-digit: 500,
        ),
        style: (
          italic: Italic,
        ),
      ),
    ),
    headings: (
      main: (
        font-size: 5.6rem,
        line-height: 6.72rem,
        letter-spacing: -0.112rem,
        paragraph-spacing: 5.6rem,
      ),
      h1: (
        font-size: 3.2rem,
        line-height: 3.84rem,
        letter-spacing: -0.032rem,
        paragraph-spacing: 3.2rem,
      ),
      h2: (
        font-size: 3.2rem,
        line-height: 3.2rem,
        letter-spacing: 3.2rem,
        paragraph-spacing: 3.2rem,
      ),
      h3: (
        font-size: 2.6rem,
        line-height: 3.12rem,
        letter-spacing: -0.026rem,
        paragraph-spacing: 2.6rem,
      ),
      h4: (
        font-size: 2.2rem,
        line-height: 2.64rem,
        letter-spacing: -0.022rem,
        paragraph-spacing: 2.2rem,
      ),
      h5: (
        font-size: 2rem,
        line-height: 2.6rem,
        letter-spacing: -0.02rem,
        paragraph-spacing: 2rem,
      ),
      h6: (
        font-size: 1.8rem,
        line-height: 2.7rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.8rem,
      ),
    ),
    body: (
      large: (
        font-size: 1.6rem,
        line-height: 2.4rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.6rem,
      ),
      normal: (
        font-size: 1.6rem,
        line-height: 2.4rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.6rem,
      ),
      small: (
        font-size: 1.4rem,
        line-height: 2.1rem,
        letter-spacing: 0rem,
        paragraph-spacing: 1.4rem,
      ),
      caption: (
        font-size: 1.2rem,
        line-height: 1.8rem,
        letter-spacing: 0.024rem,
        paragraph-spacing: 1.2rem,
      ),
      xtra-small: (
        font-size: 1.2rem,
        line-height: 1.8rem,
        letter-spacing: 1.56rem,
        paragraph-spacing: 1.2rem,
      ),
      notes: (
        font-size: 0.8rem,
        line-height: 1.2rem,
        letter-spacing: 0rem,
        paragraph-spacing: 0.8rem,
      ),
      thin: (
        font-size: 0.8rem,
        line-height: 1.2rem,
        letter-spacing: 0rem,
        paragraph-spacing: 0.6rem,
      ),
    ),
  ),
);

$sizng-tokens-design: (
  radius: (
    xxs: 0.2rem,
    xs: 0.4rem,
    s: 0.8rem,
    m: 1.2rem,
    l: 2rem,
    xl: 3rem,
    full: 99.9rem,
  ),
  stroke-width: (
    xs: 0.05rem,
    s: 0.1rem,
    m: 0.2rem,
    l: 0.4rem,
  ),
);

$color-usage: (
  background: (
    neutral: (
      primary: #f8f9fb,
      secondary: #f2f4f7,
      tertiary: #e8ebf0,
      disabled: #dbe0e8,
    ),
    neutral-inverse: (
      primary: #14181e,
      secondary: #232831,
      tertiary: #454e5d,
    ),
    brand: (
      primary: #1d4284,
      secondary: #5e8bef,
      tertiary: #b6c5f7,
    ),
    semantic: (
      success: (
        subtle: #ebffeb,
        light: #cafec9,
        lighter: #4bf63f,
        normal: #41d936,
        dark: #31a928,
        bold: #227e1b,
      ),
      warning: (
        subtle: #fffdf0,
        light: #fffbe0,
        lighter: #fff49e,
        normal: #ffec5c,
        dark: #ffe414,
        bold: #d1b900,
      ),
      error: (
        subtle: #fff0f1,
        light: #fee6e8,
        lighter: #fca1a9,
        normal: #d90718,
        dark: #c60616,
        bold: #ad0613,
      ),
      info: (
        subtle: #f6fbfe,
        light: #edf7fd,
        lighter: #c4e4f8,
        normal: #99d0f2,
        dark: #53b0e9,
        bold: #1b8dd5,
      ),
    ),
  ),
  text: (
    neutral: (
      primary: #232831,
      secondary: #454e5d,
      tertiary: #68758b,
      disabled: #c3cbd9,
    ),
    neutral-inverse: (
      primary: #f8f9fb,
      secondary: #e8ebf0,
      tertiary: #dbe0e8,
    ),
    brand: (
      primary: #081a3b,
      inverse: #edf0fd,
    ),
    semantic: (
      success: (
        primary: #072d05,
        inverse: #ebffeb,
      ),
      warning: (
        primary: #473f00,
        inverse: #fffdf0,
      ),
      error: (
        primary: #68030c,
        inverse: #fff0f1,
      ),
      info: (
        primary: #093048,
        inverse: #f6fbfe,
      ),
    ),
  ),
  icon: (
    neutral: (
      primary: #232831,
      secondary: #454e5d,
      tertiary: #68758b,
      disabled: #c3cbd9,
    ),
    neutral-inverse: (
      primary: #f8f9fb,
      secondary: #e8ebf0,
      tertiary: #dbe0e8,
    ),
    brand: (
      primary: #081a3b,
      inverse: #edf0fd,
    ),
    semantic: (
      success: (
        primary: #072d05,
        inverse: #ebffeb,
      ),
      warning: (
        primary: #473f00,
        inverse: #fffdf0,
      ),
      error: (
        primary: #68030c,
        inverse: #fff0f1,
      ),
      info: (
        primary: #093048,
        inverse: #f6fbfe,
      ),
    ),
  ),
  border: (
    neutral: (
      primary: #e8ebf0,
      secondary: #8e9fb9,
      disabled: #dbe0e8,
    ),
    neutral-inverse: (
      primary: #232831,
      secondary: #68758b,
    ),
    brand: (
      primary: #122f60,
      inverse: #dbe2fb,
    ),
    semantic: (
      success: (
        primary: #14550f,
        inverse: #cafec9,
      ),
      warning: (
        primary: #8a7a00,
        inverse: #fffbe0,
      ),
      error: (
        primary: #8f0510,
        inverse: #fee6e8,
      ),
      info: (
        primary: #125d8c,
        inverse: #edf7fd,
      ),
    ),
  ),
);

$texts-design: (
  desktop: (
    poppins: (
      bold: (
        main-title: (
          font-family: Poppins,
          font-size: 7.2rem,
          font-weight: 700,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: Poppins,
          font-size: 6.4rem,
          font-weight: 700,
          line-height: 7.68rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: Poppins,
          font-size: 4.8rem,
          font-weight: 700,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: Poppins,
          font-size: 4rem,
          font-weight: 700,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: Poppins,
          font-size: 3rem,
          font-weight: 700,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: Poppins,
          font-size: 2.4rem,
          font-weight: 700,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: Poppins,
          font-size: 2rem,
          font-weight: 700,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        body-normal: (
          font-family: Poppins,
          font-size: 1.6rem,
          font-weight: 700,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        body-caption: (
          font-family: Poppins,
          font-size: 1.4rem,
          font-weight: 700,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        body-extrasmall: (
          font-family: Poppins,
          font-size: 1.1rem,
          font-weight: 700,
          line-height: 1.56rem,
          letter-spacing: 0.012rem,
        ),
        body-notes: (
          font-family: Poppins,
          font-size: 0.9rem,
          font-weight: 700,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        body-thin: (
          font-family: Poppins,
          font-size: 0.8rem,
          font-weight: 700,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
      regular: (
        main-title: (
          font-family: Poppins,
          font-size: 7.2rem,
          font-weight: 400,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: Poppins,
          font-size: 6.4rem,
          font-weight: 400,
          line-height: 4.32rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: Poppins,
          font-size: 4.8rem,
          font-weight: 400,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: Poppins,
          font-size: 4rem,
          font-weight: 400,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: Poppins,
          font-size: 3rem,
          font-weight: 400,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: Poppins,
          font-size: 2.4rem,
          font-weight: 400,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: Poppins,
          font-size: 2rem,
          font-weight: 400,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        body-normal: (
          font-family: Poppins,
          font-size: 1.6rem,
          font-weight: 400,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        caption: (
          font-family: Poppins,
          font-size: 1.4rem,
          font-weight: 400,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        body-extrasmall: (
          font-family: Poppins,
          font-size: 1.1rem,
          font-weight: 400,
          line-height: 1.56rem,
          letter-spacing: 0.012rem,
        ),
        body-notes: (
          font-family: Poppins,
          font-size: 0.9rem,
          font-weight: 400,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        body-thin: (
          font-family: Poppins,
          font-size: 0.8rem,
          font-weight: 400,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
    ),
    lexend: (
      bold: (
        main-title: (
          font-family: "Lexend Exa",
          font-size: 7.2rem,
          font-weight: 700,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: "Lexend Exa",
          font-size: 6.4rem,
          font-weight: 700,
          line-height: 7.68rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: "Lexend Exa",
          font-size: 4.8rem,
          font-weight: 700,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: "Lexend Exa",
          font-size: 4rem,
          font-weight: 700,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: "Lexend Exa",
          font-size: 3rem,
          font-weight: 700,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: "Lexend Exa",
          font-size: 2.4rem,
          font-weight: 700,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: "Lexend Exa",
          font-size: 2rem,
          font-weight: 700,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        body-normal: (
          font-family: "Lexend Exa",
          font-size: 1.6rem,
          font-weight: 700,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        body-caption: (
          font-family: "Lexend Exa",
          font-size: 1.4rem,
          font-weight: 700,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        body-extrasmall: (
          font-family: "Lexend Exa",
          font-size: 1.1rem,
          font-weight: 700,
          line-height: 1.56rem,
          letter-spacing: 0.012rem,
        ),
        body-notes: (
          font-family: "Lexend Exa",
          font-size: 0.9rem,
          font-weight: 700,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        body-thin: (
          font-family: "Lexend Exa",
          font-size: 0.8rem,
          font-weight: 700,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
      regular: (
        main-title: (
          font-family: "Lexend Exa",
          font-size: 7.2rem,
          font-weight: 400,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: "Lexend Exa",
          font-size: 6.4rem,
          font-weight: 400,
          line-height: 7.68rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: "Lexend Exa",
          font-size: 4.8rem,
          font-weight: 400,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: "Lexend Exa",
          font-size: 4rem,
          font-weight: 400,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: "Lexend Exa",
          font-size: 3rem,
          font-weight: 400,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: "Lexend Exa",
          font-size: 2.4rem,
          font-weight: 400,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: "Lexend Exa",
          font-size: 2rem,
          font-weight: 400,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        normal: (
          font-family: "Lexend Exa",
          font-size: 1.6rem,
          font-weight: 400,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        caption: (
          font-family: "Lexend Exa",
          font-size: 1.4rem,
          font-weight: 400,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        extrasmall: (
          font-family: "Lexend Exa",
          font-size: 1.1rem,
          font-weight: 400,
          line-height: 1.56rem,
          letter-spacing: 0.012rem,
        ),
        notes: (
          font-family: "Lexend Exa",
          font-size: 0.9rem,
          font-weight: 400,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        thin: (
          font-family: "Lexend Exa",
          font-size: 0.8rem,
          font-weight: 400,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
    ),
    roboto: (
      bold: (
        main-title: (
          font-family: Roboto,
          font-size: 7.2rem,
          font-weight: 700,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: Roboto,
          font-size: 6.4rem,
          font-weight: 700,
          line-height: 7.68rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: Roboto,
          font-size: 4.8rem,
          font-weight: 700,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: Roboto,
          font-size: 4rem,
          font-weight: 700,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: Roboto,
          font-size: 3rem,
          font-weight: 700,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: Roboto,
          font-size: 2.4rem,
          font-weight: 700,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: Roboto,
          font-size: 2rem,
          font-weight: 700,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        body-normal: (
          font-family: Roboto,
          font-size: 1.6rem,
          font-weight: 700,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        body-caption: (
          font-family: Roboto,
          font-size: 1.4rem,
          font-weight: 700,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        body-extrasmall: (
          font-family: Roboto,
          font-size: 1.1rem,
          font-weight: 700,
          line-height: 1.56rem,
          letter-spacing: 0.012rem,
        ),
        body-notes: (
          font-family: Roboto,
          font-size: 0.9rem,
          font-weight: 700,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        body-thin: (
          font-family: Roboto,
          font-size: 0.8rem,
          font-weight: 700,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
      regular: (
        main-title: (
          font-family: Roboto,
          font-size: 7.2rem,
          font-weight: 400,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: Roboto,
          font-size: 6.4rem,
          font-weight: 400,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h2: (
          font-family: Roboto,
          font-size: 4.8rem,
          font-weight: 400,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: Roboto,
          font-size: 4rem,
          font-weight: 400,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: Roboto,
          font-size: 3rem,
          font-weight: 400,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: Roboto,
          font-size: 2.4rem,
          font-weight: 400,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: Roboto,
          font-size: 2rem,
          font-weight: 400,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        normal: (
          font-family: Roboto,
          font-size: 1.6rem,
          font-weight: 400,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        caption: (
          font-family: Roboto,
          font-size: 1.4rem,
          font-weight: 400,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        extrasmall: (
          font-family: Roboto,
          font-size: 1.2rem,
          font-weight: 400,
          line-height: 1.56rem,
          letter-spacing: 0.012rem,
        ),
        notes: (
          font-family: Roboto,
          font-size: 0.9rem,
          font-weight: 400,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        thin: (
          font-family: Roboto,
          font-size: 0.8rem,
          font-weight: 400,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
    ),
    hahmlet: (
      headings: (
        semibold: (
          h1: (
            font-family: Hahmlet,
            font-size: 6.4rem,
            font-weight: 600,
            line-height: 7.68rem,
            letter-spacing: -0.128rem,
          ),
          h2: (
            font-family: Hahmlet,
            font-size: 4.8rem,
            font-weight: 600,
            line-height: 5.76rem,
            letter-spacing: -0.096rem,
          ),
          h3: (
            font-family: Hahmlet,
            font-size: 3rem,
            font-weight: 600,
            line-height: 3.6rem,
            letter-spacing: -0.03rem,
          ),
          h4: (
            font-family: Hahmlet,
            font-size: 3rem,
            font-weight: 600,
            line-height: 3.6rem,
            letter-spacing: -0.03rem,
          ),
          h5: (
            font-family: Hahmlet,
            font-size: 2.4rem,
            font-weight: 600,
            line-height: 3.12rem,
            letter-spacing: -0.024rem,
          ),
          h6: (
            font-family: Hahmlet,
            font-size: 2rem,
            font-weight: 600,
            line-height: 3rem,
            letter-spacing: 0rem,
          ),
        ),
        regular: (
          h1: (
            font-family: Hahmlet,
            font-size: 6.4rem,
            font-weight: 400,
            line-height: 7.68rem,
            letter-spacing: -0.128rem,
          ),
          h2: (
            font-family: Hahmlet,
            font-size: 4.8rem,
            font-weight: 400,
            line-height: 5.76rem,
            letter-spacing: -0.096rem,
          ),
          h3: (
            font-family: Hahmlet,
            font-size: 3rem,
            font-weight: 400,
            line-height: 3.6rem,
            letter-spacing: -0.03rem,
          ),
          h4: (
            font-family: Hahmlet,
            font-size: 3rem,
            font-weight: 400,
            line-height: 3.6rem,
            letter-spacing: -0.03rem,
          ),
          h5: (
            font-family: Hahmlet,
            font-size: 2.4rem,
            font-weight: 400,
            line-height: 3.12rem,
            letter-spacing: -0.024rem,
          ),
          h6: (
            font-family: Hahmlet,
            font-size: 2rem,
            font-weight: 400,
            line-height: 3rem,
            letter-spacing: 0rem,
          ),
        ),
      ),
      body: (
        large: (
          base: (
            font-family: Figtree,
            font-size: 1.8rem,
            font-weight: 400,
            line-height: 3.06rem,
            letter-spacing: 0rem,
          ),
          strong: (
            font-family: Figtree,
            font-size: 1.8rem,
            font-weight: 600,
            line-height: 3.06rem,
            letter-spacing: 0rem,
          ),
          italic: (
            font-family: Figtree,
            font-size: 1.8rem,
            font-weight: 400,
            line-height: 3.06rem,
            letter-spacing: 0rem,
          ),
        ),
        regular: (
          base: (
            font-family: Figtree,
            font-size: 1.6rem,
            font-weight: 400,
            line-height: 2.72rem,
            letter-spacing: 0rem,
          ),
          strong: (
            font-family: Figtree,
            font-size: 1.6rem,
            font-weight: 600,
            line-height: 2.72rem,
            letter-spacing: 0rem,
          ),
          italic: (
            font-family: Figtree,
            font-size: 1.6rem,
            font-weight: 400,
            line-height: 2.72rem,
            letter-spacing: 0rem,
          ),
        ),
        small: (
          base: (
            font-family: Figtree,
            font-size: 1.4rem,
            font-weight: 400,
            line-height: 2.38rem,
            letter-spacing: 0rem,
          ),
          strong: (
            font-family: Figtree,
            font-size: 1.4rem,
            font-weight: 600,
            line-height: 2.38rem,
            letter-spacing: 0rem,
          ),
          italic: (
            font-family: Figtree,
            font-size: 1.4rem,
            font-weight: 400,
            line-height: 2.38rem,
            letter-spacing: 0rem,
          ),
        ),
        caption: (
          caption: (
            font-family: Figtree,
            font-size: 1.2rem,
            font-weight: 600,
            line-height: 1.8rem,
            letter-spacing: 0.024rem,
          ),
        ),
        notes: (
          notes: (
            font-family: Figtree,
            font-size: 1rem,
            font-weight: 400,
            line-height: 1.5rem,
            letter-spacing: 0rem,
          ),
        ),
      ),
    ),
  ),
);

$effects-design: (
  drop-shadow: (
    s: "0px 6px 16px rgba(0,0,0,0.10000000149011612)",
    m: "0px 14px 30px rgba(0,0,0,0.15000000596046448)",
    l: "0px 20px 44px rgba(0,0,0,0.20000000298023224)",
  ),
);
