@use 'css/admin/main/sass/abstracts' as *

/****************** LAYOUT AND GRID *******************/

.k-container,[class*=k-container-]
   width: $container-default
   margin: 0 auto

//creating other containers base on screen size

@each $size, $value in $containers
   .k-container-#{$size}
      @include respond(#{$size})
         max-width: $value

// rows and columns
.k-row
   display: flex
   flex-wrap: wrap
   margin-left: -$default-gutter
   margin-right: -$default-gutter
   > [class*=k-flex-]
      width: 100%
      max-width: 100%
      padding-right: $default-gutter
      padding-left: $default-gutter
   @for $i from 1 through $total-columns
      .k-flex-#{$i}
         @include grid($total-columns,$i)
   @each $break, $value in $containers
      @include respond(#{$break})
         @for $i from 1 through $total-columns
            .k-flex-#{$break}-#{$i}
               @include grid($total-columns,$i)
// offset columns - non responsive
@include offset-grid($total-columns,false)
// offset columns - responsive
@include offset-grid($total-columns,true)
