@use "css/globals" as *;
@use "css/backend/admin/abstracts" as *;

.category {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__header {
    .title {
      @include page-title();
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 0;
    overflow-y: auto;
    @include flash-message($namespace: "flash");

    .category-frm {
      width: 100%;
      position: relative;
      &__tabs {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.6rem;

        @include tabs(
          $variant: cards,
          $ids: (
            tab-basics,
            tab-content,
            tab-settings
          ),
          $content-styles: (
            display: flex,
            flex-direction: row,
            flex-wrap: wrap,
            gap: 2.4rem,
            width: 100%
          )
        );
      }

      &__left,
      &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: $radius-m;
        background-color: $background-neutral-tertiary;

        .form-section {
          &__body {
            @include input-field(
              (select, custom-select, textarea),
              (
                "select-floating-label": true
              )
            );

            .form-row {
              &.vertical {
                .settings {
                  display: flex;
                  justify-content: flex-end;
                  align-items: flex-start;
                  gap: 2.4rem;
                  width: 100%;

                  .toggle-switch {
                    @include toggle-switch();
                  }
                }
              }
            }

            .bracket-range {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 1.6rem;
              width: 100%;

              &__card {
                display: flex;
                padding: 1.6rem;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 1.6rem;
                align-self: stretch;
                border-radius: $radius-m;
                background-color: $background-brand-tertiary;
                box-shadow: $shadow-s;

                &-header {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;

                  .card-title {
                    @include apply-text-style(
                      (
                        map: map-deep-get($roboto-map, regular),
                        weight: normal,
                        overrides: (
                          color: inherit
                        )
                      )
                    );
                  }

                  .card-action {
                    @include flex-center;
                    gap: 1.6rem;

                    &__add-btn,
                    &__remove-btn {
                      @include icon-with-badge(
                        $with-badge: false,
                        $icon-size: calc(2.4rem + 0.4rem),
                        $padding: 0.4rem,
                        $align-self: false
                      );
                      @include transition;
                      border-radius: $radius-s;
                      box-shadow: $shadow-s;

                      &:hover,
                      &:active {
                        .icon {
                          color: $text-brand-inverse;
                        }
                      }

                      &:hover {
                        transform: scale(1.15);
                      }
                    }

                    &__add-btn {
                      background: $background-neutral-tertiary;
                      &:hover {
                        background-color: $background-brand-secondary;
                      }
                      &:active {
                        background-color: $background-brand-primary;
                      }
                    }

                    &__remove-btn {
                      background-color: $background-semantic-error-subtle;
                      &:hover {
                        background-color: $background-semantic-error-normal;
                      }
                      &:active {
                        background-color: $background-semantic-error-bold;
                      }
                    }
                  }
                }

                &-body {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 1.6rem;
                  align-self: stretch;
                }
              }
            }
          }
        }
      }

      &__left {
        width: 67.68rem;
      }

      &__right {
        flex: 1;
        @include dropzone();
      }
    }
  }

  &__footer {
    @include page-footer();
  }
}
