{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    [
      "babel-plugin-polyfill-corejs3",
      {
        "method": "usage-pure",
        "proposals": true
      }
    ]
  ]
}
