
# This .htaccess file is used to redirect all requests to the public folder
# Security Headers
<IfModule mod_headers.c>
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'"
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS
</IfModule>

# Disable directory listing and multiviews
Options -Indexes -MultiViews

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Handle .well-known before any redirects
    RewriteCond %{REQUEST_URI} ^/\.well-known/
    RewriteRule ^ - [L]
    
    # Redirect all to public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# <IfModule mod_headers.c>
#   <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|svg)$”>
#     Header set Access-Control-Allow-Origin “*”
#   </FilesMatch>
# </IfModule>







