@use "css/frontend/ecommerce/abstracts" as *;
/*---------------- LAST BANNER ----------------*/

.banner-section {
  background: linear-gradient(
    100deg,
    $color-big-card-dark 42.36%,
    $color-black 98.65%
  );
  min-height: 44.8rem;
  position: relative;
  overflow: hidden;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    position: absolute;
    left: 50%;
    bottom: 8.9rem;
    transform: translateX(-50%);
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      &__heading {
        color: $color-white;
        text-align: center;
        font-size: 7.2rem;
        font-style: normal;
        font-weight: 200;
        line-height: 1; /* 100% */
        letter-spacing: -0.72px;
        span {
          font-weight: 500;
        }
      }
      &__description {
        align-self: stretch;
        color: $banner-text-gray;
        text-align: center;
        line-height: 2; /* 200% */
      }
    }
  }
  &__img-container1 {
    width: 33.792rem;
    height: 18.1969rem;
    position: absolute;
    left: 22.288rem;
    top: -6.6rem;
    .image {
      width: 100%;
      height: 100%;
    }
  }
  &__img-container2 {
    width: 12.0362rem;
    height: 36.5967rem;
    transform: rotate(-31.47deg);
    position: absolute;
    right: -1.10078rem;
    top: -0.1156rem;
    .image {
      width: 100%;
      height: 100%;
    }
  }
  &__img-container3 {
    width: 41.856rem;
    height: 26.2075rem;
    position: absolute;
    left: -7.4rem;
    bottom: 1.3925rem;
    transform: scaleX(-1);
    .image {
      width: 100%;
      height: 100%;
    }
  }
  &__img-container4 {
    width: 40.4rem;
    height: 32.1rem;
    position: absolute;
    right: -0.7rem;
    bottom: -12rem;
    .image {
      width: 100%;
      height: 100%;
    }
  }
  &__img-container5 {
    width: 23.7rem;
    height: 19.2rem;
    position: absolute;
    left: 3.9rem;
    top: 0.3rem;
    .image {
      width: 100%;
      height: 100%;
    }
  }
}
