@use "css/frontend/ecommerce/abstracts" as *;
/*---------------- DISCOUNT SECTION ----------------*/

.discount-section {
  background-color: $color-white;

  .discount {
    display: flex;
    padding: 8rem 16rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
    &__title {
      color: $color-black;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.33333; /* 133.333% */
    }
    &__row {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      gap: 1.6rem;
      align-self: stretch;
      flex-wrap: wrap;
    }
  }
}
