@use 'css/admin/main/sass/abstracts' as *

@import "@fontsource/manrope/400.css"
@import "@fontsource/manrope/500.css"
@import "@fontsource/manrope/700.css"

@import "@fontsource/poppins/400.css"
@import "@fontsource/poppins/500.css"
@import "@fontsource/poppins/700.css"

h1,.k-h1,
h2,.k-h2,
h3,.k-h3,
h4,.k-h4,
h5,.k-h5,
h6,.k-h6
   font-family: $heading-font-family
   color: inherit
   font-weight: $font-weight-bold
   line-height: $heading-line-height
   margin: 0

@for $i from 1 through 6
   h#{$i},.k-h#{$i}
      font-size: var(--heading-#{$i})

.admin-section-heading
   .admin-title
      margin-bottom: 0.5rem
.admin-faded-text,.admin-section-heading .admin-sub-title
   color: $faded-text-color
