@use 'css/training/pratique/dairy/abstracts' as *

/*----------------------- HOME ----------------------*/

.main,.headings
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center
.headings
   margin: 1rem 0
   padding: 2rem
   gap: 2rem
   &__h1
      font-size: 4rem
      font-weight: 600
      text-transform: uppercase
      letter-spacing: .05em
      color: $color-primary
