@use "sass:map";
@use "partials/color_map_variable" as *;

/* ************** TYPOGRAPHY ************** */
:root {
  --heading-1: 2.8rem;
  --heading-2: 2.4rem;
  --heading-3: 2rem;
  --heading-4: 1.8rem;
  --heading-5: 1.6rem;
  --heading-6: 1.6rem;
  --heading-font-weight-1: 700;
  --heading-font-weight-2: 600;
  --heading-font-weight-3: 700;
  --heading-font-weight-4: 600;
  --heading-font-weight-5: 400;
  --heading-font-weight-6: 400;
}

$font: (
  family:
    '"SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif',
  size-sm: 1.4rem,
  size-base: 1.6rem,
  size-lg: 3.2rem,
  weight-normal: 400,
  weight-medium: 500,
);
/********* COLORS **********/
$primary-color: #4a6cf7;
$colors-ecommerce: (
  white: #ffffff,
  black: #000000,
  gray-100: #f5f5f5,
  gray-300: #919191,
  gray-400: #989898,
  gray-500: #656565,
  gray-600: #666666,
  gray-800: #2e2e2e,
  focus: #0066cc,
);
// Banner - hero section
$color-muted: #909090;
$color-white: #fff;
$color-black: #000;
$color-gray: #ededed;
$color-big-card-light: #f9f9f9;
$color-big-card-normal: #eaeaea;
$color-big-card-dark: #2c2c2c;
$color-dark: #353535;
$banner-bg-primary: #211c24;
$banner-text-white: #ffffff;
$banner-text-muted: #989898;
$banner-border-color: #ffffff;
$banner-bg-form: #f5f5f5;
$banner-text-gray: #787878;
$footer-text: #cfcfcf;
//Categories
$category-bg-color: #fafafa;
//Products
$product-bg-color: #f6f6f6;
$color-underline: #b5b5b5;
$color-text-filter: #a7a7a7;
$color-border-filter: #9f9f9f;
$color-info-filter-line: #e7e7e7;
$color-scroll-barre-bg1: #414141;
$color-scroll-barre-bg2: #cecece;
/* ************** TYPOGRAPHY ************** */
$base-font-size: 62.5%;
$paragraph-size: 1.6rem;
$body-font-family: "Poppins", sans-serif;
$heading-font-family: "Manrope", sans-serif;
$font-weight-bold: 700;
$heading-line-height: 1.4;
$new-arrival-tag-color: #8b8b8b;
//BreadCrummbs color
$breadcrumbs-color: #a4a4a4;
//Brands
$brand-span-color: #929292;
/* ************** RADIUS ************** */
$category-border-radius: 15px;

/* ************** BREAKPOINTS ************** */
$breakpoints: (
  "xs": 480px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
// $breakpoints-short: (
//   mobile: 480px,
//   tablet: 640px,
//   desktop: 1024px,
//   large: 1440px,
// );

$spacing: (
  xs: 0.4rem,
  sm: 0.8rem,
  md: 1.6rem,
  lg: 2rem,
  xl: 2.4rem,
  2xl: 3.2rem,
  3xl: 5.2rem,
  4xl: 12rem,
  10xl: 16rem,
);

$sizes: (
  icon-sm: 1.6rem,
  icon-md: 2.4rem,
  icon-lg: 2.8rem,
  btn-sm: 2.8rem,
  btn-md: 3.2rem,
  search-height: 5.6rem,
  search-height-mobile: 4.8rem,
  logo-width: 9.6rem,
  logo-width-mobile: 6.4rem,
  logo-height: 3.2rem,
  logo-height-mobile: 2rem,
  divider-height: 2.4rem,
);
