@use "css/frontend/ecommerce/abstracts" as *;
/*---------------- FOOTER ----------------*/

.footer {
  background: $color-black;
  &__container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 10.4rem 16rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.4rem;
    &--info {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      gap: 5.6rem;
      align-self: stretch;
      flex-wrap: wrap;
      .about {
        width: 38.4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        &__text {
          color: $footer-text;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.705; /* 23.87px */
        }
      }
      .footer-navigation {
        display: flex;
        // width: 623px;
        justify-content: space-between;
        align-items: flex-start;
        &__container {
          display: flex;
          //   width: 295.5px;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.8rem;
          flex-shrink: 0;
          .navigation-title {
            color: $color-white;
            font-weight: 600;
            line-height: 1; /* 100% */
          }
          .navigation-list {
            list-style-type: none;
            width: 100%;
          }
        }
      }
    }
  }
}
