@use 'css/training/sass2/flexbox/abstracts' as *

/*------- Main Content -------*/

.content
   display: flex
   &__sidebar
      background-color: var(--color-gray-dark-1)
      flex: 0 0 18%
      display: flex
      flex-direction: column
      justify-content: space-between
      .side-nav
         font-size: 1.4rem
         list-style: none
         margin-top: 3.5rem
         &__item
            position: relative
            &:not(:last-child)
               margin-bottom: .5rem
            &::before
               content: ""
               position: absolute
               top: 0
               left: 0
               height: 100%
               width: 3px
               background-color: var(--color-primary)
               transform: scaleY(0)
               transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s
            &:hover::before,&--active::before
               transform: scaleY(1)
               width: 100%
            &:active::before
               background-color: var(--color-primary-light)
         &__link
            &:link,&:visited
               display: flex
               align-items: center
               color: var(--color-gray-light-1)
               text-decoration: none
               text-transform: uppercase
               padding: 1.5rem 3rem
               position: relative
               z-index: 10
            &-icon
               width: 1.75rem
               height: 1.75rem
               margin-right: 2rem
               fill: currentColor
      .legal
         font-size: 1.2rem
         color: var(--color-gray-light-4)
         text-align: center
         padding: 2.5rem
   &__main
      background-color: #fff
      flex: 1
      height: 80rem
      .gallery
         display: flex
         &__item
            &-photo
               width: 100%
               display: block
      .overview
         display: flex
         align-items: center
         border-bottom: 1px solid var(--color-gray-light-2)
         &__stars
            margin-right: auto
            display: flex
         &__stars-icon,&__location-icon
            height: 1.75rem
            width: 1.75rem
            fill: var(--color-primary)
         &__location
            font-size: 1.2rem
            display: flex
            align-items: center
            &-icon
               margin-right: .5rem
         &__rating
            background-color: var(--color-primary)
            color: #fff
            margin-left: 3rem
            align-self: stretch
            padding: 0 2.25rem
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            &-average
               font-size: 2.25rem
               font-weight: 300
               margin-bottom: -3px
            &-count
               font-size: .8rem
               text-transform: uppercase
