$figma-tokens: (
  Cover: (
    "Thumnail for template monster": #c1e6ba,
  ),
  "Design System": (
    "Type Scale": #ffffff,
    "Spacers & Effect": #ffffff,
    "Color Scheme": #ffffff,
    Icon: #ffffff,
    "Element In Landing Page": #ffffff,
  ),
  "Saas Dashboard": (
    E: (
      "commerce Landing Page": #ffffff,
    ),
    Dashboard: #f9fafb,
    "Order Management": #f9fafb,
    Customer: #f9fafb,
    "Customer Details": #f9fafb,
    Categories: #f9fafb,
    Transaction: #f9fafb,
    "Add Product": #f9fafb,
    "Admin Role": #f9fafb,
  ),
);
