@use 'css/backend/main/abstracts' as *

.admin-dashboard
   margin-top: $default-navbar-height
   .admin-indicator
      &-up
         color: get-color("success")
      &-down
         color: get-color("danger")
      &-up,&-down
         i
            margin-right: 0.5rem
   .admin-bdg
      width: 3rem
      height: 3rem
      padding: 0
      line-height: 3rem
      font-size: 1.6rem
   .admin-progress
      width: 100%
      height: .8rem
      position: relative
      background-color: get-color("gray",200)
      border-radius: 2.5rem
      overflow: hidden
      &__inner
         position: absolute
         width: 0%
         height: 100%
         top: 0
         left: 0
         background-color: get-color("success")
   // Featured projects
   .admin-featured-project
      position: relative
      img
         width: 100%
         height: 100%
      .decoration
         position: absolute
         left: -12rem
         bottom: -6rem
         width: 200%
      @include respond(md)
         max-height: 15rem
         .decoration
            bottom: -12rem
      @include respond(lg)
         max-height: 100%
         .decoration
            bottom: -6rem

   //Client Overview
   .admin-client-overview
      .admin-level-gold
         color: get-color("warn")
      .admin-level-silver
         color: get-color("gray",600)
      .admin-client .user-details
         span
            line-height: 0.6
            &:first-of-type
               margin-top: 0.8rem
   //Admin communication
   .admin-communication
      .k-tbl__row .k-tbl__data
         white-space: normal
      &-content
         position: relative
      .admin-meta
         position: absolute
         right: 0
         top: 0

   // Chart
   .admin-earning-chart
      width: 50%
// Subscription reminder
.admin-subscription-plan
   background-color: get-color("primary")
   color: get-color("gray",500)
//footer
.admin-footer
   background-color: $navbar-bg-color
