@use "css/globals" as *;
@use "css/backend/admin/abstracts" as *;
/*------------------- CONTAINER -----------------*/

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  padding: 0; // No side padding like Figma

  // Responsive fallback
  @include respond-below(xl) {
    width: 100%;
    max-width: 144rem;
  }

  @include respond-below(lg) {
    padding: 0 2rem; // Only add padding on small screens
  }
}
