@use "css/backend/admin/abstracts" as *;

/*-------------------- GRID LAYOUT --------------------*/

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  min-block-size: 100vh;
  min-block-size: 100dvh;
  transition: grid-template-columns 0.3s ease;
  &__header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 200;
  }
  &__aside {
    grid-area: sidebar;
    width: 26.4rem;
    position: sticky;
    top: 0;
    min-height: 100dvh;
    height: 100dvh;
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: 100;
    &::-webkit-scrollbar {
      width: 0.6rem; // optional styling
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
    }
  }
  &__main {
    grid-area: main;
  }
  &__footer {
    grid-area: footer;
  }
  &.sb-expand {
    grid-template-columns: 26.4rem 1fr;
  }
}
