@use "css/backend/admin/abstracts" as *;

/*-------------------- GRID LAYOUT --------------------*/

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  height: 100dvh;
  min-height: 100dvh; // safety for mobile
  // overflow: hidden; // no extra scroll
  @include transition((grid-template-columns), 0.3s, ease-in-out);
  &__header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 200;
  }
  &__aside {
    grid-area: sidebar;
    width: 26.4rem;
    position: sticky;
    top: 0;
    min-height: 100dvh;
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden; // keep horizontal hidden
    border-right: 1px solid map-deep-get($color-neutral, gray, gray-50);
    background-color: map-deep-get($color-neutral, white);
    box-shadow: 0.4rem 0 3rem 0 rgba(131, 98, 234, 0.05);
    transition: all 0.3s ease-in-out;
    text-wrap: nowrap;
    scrollbar-width: thin;
    z-index: 100;
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
    }
  }
  &__main {
    grid-area: main;
    overflow-x: hidden;
  }
  &__footer {
    grid-area: footer;
  }
  &.sb-expand {
    grid-template-columns: 26.4rem 1fr;
  }
}
