@use "css/globals" as *;
@use "css/backend/admin/abstracts" as *;

.confirm-deletion__header {
  border-bottom: 1px solid $yellow-200;
}

.confirm-deletion__body {
  .entity-summary,
  .deletion-options,
  .deletion-impact,
  .checkbox-section {
    display: flex;
    padding: 0.8rem 0.8rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    align-self: stretch;

    .title {
      display: flex;
      align-items: center;
      white-space: nowrap;
      align-self: stretch;
      @include text-style(
        $display-xs,
        medium,
        (
          color: $primary-500
        )
      );
      border-bottom: 1px solid $gray-100;
    }
  }

  .entity-summary {
    .details {
      display: flex;
      padding: 0.8rem 0;
      align-items: center;
      gap: 1.2rem;
      align-self: stretch;

      &__image-container {
        display: flex;
        width: 10rem;
        flex-direction: column;
        align-items: flex-start;
        aspect-ratio: 1/1;
        .image {
          width: 100%;
          object-fit: cover;
        }
      }

      &__text {
        display: flex;
        padding: 0.8rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.4rem;

        .entity-name {
          align-self: stretch;
          @include text-style(
            $display-s,
            semibold,
            (
              color: $black-800
            )
          );
        }

        .other-properties {
          align-self: stretch;
          @include text-style(
            $text-l,
            medium,
            (
              color: $black-600
            )
          );
        }
      }
    }
  }
  .deletion-options {
    .options {
      @include options-container;
      &-box {
        @include options-box;
      }
    }
  }

  .deletion-impact {
    .impact-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.8rem;
      align-self: stretch;

      &__item {
        display: flex;
        align-items: flex-start;
        gap: 0.4rem;
        padding: 0.4rem;
        border-radius: $radius-s;

        &:hover {
          background-color: $gray-50;
        }

        &.impact-item--positive {
          .icon-container {
            fill: $success-color;
          }
        }

        &.impact-item--info {
          .icon-container {
            fill: $info-color;
          }
        }

        .icon-container {
          @include icon_with_badge($with_badge: false, $padding: false, $icon-size: 2rem);
        }

        .text {
          @include text-style(
            $text-m,
            medium,
            (
              color: $black-800
            )
          );
        }
      }
    }
  }

  // Responsive
  @include respond-below(md) {
    padding: 0.6rem 1.5rem;
    gap: 0.6rem;
  }

  @include respond-below(sm) {
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }
}
