@mixin displayFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyle() {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@mixin centering($topValue: 50%) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}
