$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-primary: "Dancing Script", cursive;
$font-secondary: "Josefin Sans", sans-serif;
$font-tertiary: "Nunito", sans-serif;
