@use "sass:map";
@use "partials/color_map_variable" as *;

:root {
  --heading-1: 2.8rem;
  --heading-2: 2.4rem;
  --heading-3: 2rem;
  --heading-4: 1.8rem;
  --heading-5: 1.6rem;
  --heading-6: 1.6rem;
  --heading-font-weight-1: 700;
  --heading-font-weight-2: 600;
  --heading-font-weight-3: 700;
  --heading-font-weight-4: 600;
  --heading-font-weight-5: 400;
  --heading-font-weight-6: 400;
}

/********* COLORS **********/

/* ************** TYPOGRAPHY ************** */
$body-font-family: "Poppins", sans-serif;
$heading-font-family: "Manrope", sans-serif;
$font-weight-bold: 700;
$heading-line-height: 1.4;
