@use 'css/training/pratique/dairy/abstracts' as *

/*----------------------- CONTAINER ----------------------*/
.dairy-container
   width: 100%
   margin: 0 auto
   padding: 0 3rem

   // @media screen and (min-width: 36rem)
   //    max-width: 5.4rem
   // @media screen and (min-width: 48rem)
   //    max-width: 7.2rem
   @media screen and (min-width: 62rem)
      max-width: 96rem
