@use 'css/training/pratique/dairy/abstracts' as *

/* ---------------------- GRID LAYOUT ----------------------*/
.dairy-layout
   display: grid
   grid-template-columns: 1fr
   grid-template-rows: auto 1fr auto
   min-block-size: 100dvh
   grid-template-areas: "header" "main" "footer"
