@use 'css/training/pratique/dairy/abstracts' as *

/*----------------------- SIDEBAR ----------------------*/
.sidebar-left
   grid-area: sidebar-left
   left: 0
.sidebar-right
   grid-area: sidebar-right
   right: 0
   transform: rotateY(180deg)

.sidebar-left,.sidebar-right
   position: relative
   background-image: url(img/bg-lines.svg)
   background-repeat: no-repeat
   background-position: right center
   background-size: cover
   overflow: hidden
   top: 0
   bottom: 0rem
