@use 'css/training/pratique/cms/abstracts/variables' as *

/* ---------------------- GRID LAYOUT ----------------------*/
.container
   max-width: 1200px
   margin: 0 auto

.header
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center
   background-color: lightgray
   padding: 20px
   h1
      font-size: 6rem
      font-weight: 600

.img-gallery-container
   display: grid
   gap: 10px
   padding: 10px
   .img-gallery-item
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 10px
      border: 1px solid lightgray
      border-radius: 5px
      padding: 10px
      h2
         font-size: 2rem
         height: 3rem
      img
         width: 100%
         aspect-ratio: 1920/1440
         object-fit: cover
         border-radius: 5px
         margin-bottom: 2rem
.show-container
   width: 100%
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center
   .show-img
      width: 80rem
      margin: 10rem 10rem
      img
         width: 100%
         object-fit: cover
