@use 'css/training/pratique/grid/abstracts/variables' as *

/* ---------------------- GRID LAYOUT ----------------------*/
*
   margin: 0
   padding: 0
   box-sizing: inherit

html
   font-size: 62.5%

body
   font-family: "Poppins", sans-serif
   box-sizing: border-box
   font-weight: 400
   font-size: 1.6rem
   line-height: 1.7
   color: $body-color
   background-color: $body-bg
