@use "sass:map";
@use "css/globals" as *;
@use "css/backend/admin/abstracts" as *;

/*--------------------- BASE ------------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: map-deep-get($color-neutral, gray, gray-25);
  overflow: hidden;
  height: 100%;
}
input {
  @include input-reset;
}
textarea {
  @include textarea-reset;
}
fieldset {
  @include reset-fieldset;
}
button {
  @include button-reset;
}
ul {
  @include list-reset;
}

a {
  @include a-reset;
}
select {
  @include select-reset;
}

@for $i from 1 through 6 {
  h#{$i} {
    @include heading-reset;
  }
}
