@use "css/backend/admin/abstracts" as *;

body {
  font-family: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  @include text-style($text-l, regular, map-deep-get($color-neutral, black, black-500));
  // accent-color: map-deep-get($color-primary, primary-500);
  font-style: normal;
  font-variant: normal;
  text-align: left;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Inter Tight", "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}
