@use 'css/training/pratique/dairy/abstracts/variables' as *

@mixin horizontal-center()
   display: flex
   justify-content: center
   align-items: center

@mixin vertical-center()
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center
