/* ------ COLORS -------- */
$color-primary: #113343
$color-secondary: #71b68a
$color-tertary: #f35a39
$color-nav-brand-hover: #86cfa1
$color-btn-hover: #c6492d
$color-white: #fff
$color-gray: #777
/* ------ SIZES -------- */
