/* ------ COLORS -------- */
$color-primary: #113343
$color-secondary: #71b68a
$color-tertiary: #f35a39
$color-nav-brand-hover: #86cfa1
$color-aside-img: #235346
$color-btn-hover: #c6492d
$color-time: #328677
$color-white: #fff
$color-gray: #777
$color-gray-light: #f3f4f5
$color-red: red
/* ------ SIZES -------- */
