// COLORS Green:
$color-primary: #55c57a !default
$color-primary-light: #7ed56f !default
$color-primary-dark: #28b485 !default

$color-secondary-light: #ffb900 !default
$color-secondary-dark: #ff7700 !default

$color-tertiary-light: #2998ff !default
$color-tertiary-dark: #5643fa !default

// COLORS Gray:
$color-gray-ligth-1: #f7f7f7
$color-gray-ligth-2: #eee
$color-gray-dark: #777 !default
$color-white: #fff !default
$color-black: #000 !default

// Font sizes
$default-font-size: 1.6rem !default

//Grid
$grid-with: 114rem !default
$gutter-vertical: 8rem !default
$gutter-horizontal: 6rem !default
