$color-tokens: (
  gayscale: (
    surface: (
      default: #232831,
      subtle: #14181e,
      disabled: #454e5d,
    ),
    border: (
      default: #8e9fb9,
      darker: #dbe0e8,
      disabled: #68758b,
    ),
    text: (
      title: #f2f4f7,
      body: #e8ebf0,
      subtitle: #ced5e0,
      caption: #c3cbd9,
      negative: #14181e,
      disabled: #8e9fb9,
    ),
  ),
);

$semantic-colors: (
  default: (
    surface: (
      subtle: #041029,
      default: #3671d9,
      lighter: #1d4284,
      darker: #8ba6f3,
    ),
    border: (
      subtle: #081a3b,
      default: #3671d9,
      lighter: #1d4284,
      darker: #8ba6f3,
    ),
    text: (
      darker: #dbe2fb,
      negative: #041029,
    ),
  ),
  warning: (
    surface: (
      subtle: #242000,
      default: #ffec5c,
      lighter: #d1b900,
      darker: #fff49e,
    ),
    border: (
      subtle: #473f00,
      default: #ffec5c,
      lighter: #d1b900,
      darker: #fff49e,
    ),
    text: (
      darker: #fffbe0,
      negative: #242000,
    ),
  ),
  error: (
    surface: (
      subtle: #3b0207,
      default: #d90718,
      lighter: #ad0613,
      darker: #fca1a9,
    ),
    border: (
      subtle: #68030c,
      default: #d90718,
      lighter: #ad0613,
      darker: #fca1a9,
    ),
    text: (
      darker: #fee6e8,
      negative: #3b0207,
    ),
  ),
  success: (
    surface: (
      subtle: #031d02,
      default: #41d936,
      lighter: #227e1b,
      darker: #4bf63f,
    ),
    border: (
      subtle: #072d05,
      default: #41d936,
      lighter: #227e1b,
      darker: #4bf63f,
    ),
    text: (
      darker: #cafec9,
      negative: #031d02,
    ),
  ),
);

$buttons: (
  surface: (
    default: #ffffff,
    lighter: #ffffff,
    darker: #ffffff,
    subtle: #ffffff,
    disabled: #ffffff,
  ),
  border: (
    default: #ffffff,
    lighter: #ffffff,
    darker: #ffffff,
    subtle: #ffffff,
  ),
  text: (
    primary: #ffffff,
    secondary: #ffffff,
  ),
);

$typograpgy: (
  desktop: (
    font-weight-text: Extrabold,
    font-weight-digit: 60rem,
    font-face: (
      family: (
        primary: Roboto,
        secondary: "Lexend Exa",
        tertiary: Poppins,
        serif: Hahmlet,
        sans-serif: Figtree,
      ),
      weight: (
        bold: (
          font-weight-text: Bold,
          font-weight-digit: 70rem,
        ),
        regular: (
          font-weight-text: Regular,
          font-weight-digit: 40rem,
        ),
        semibold: (
          font-weight-text: Semibold,
          font-weight-digit: 60rem,
        ),
        style: (
          italic: Italic,
        ),
      ),
    ),
    headings: (
      main: (
        font-size: 7.2rem,
        line-height: 86.4000015258789,
        letter-spacing: -0.144rem,
        paragraph-spacing: 7.2rem,
      ),
      h1: (
        font-size: 6.4rem,
        line-height: 76.80000305175781,
        letter-spacing: -0.128rem,
        paragraph-spacing: 6.4rem,
      ),
      h2: (
        font-size: 4.8rem,
        line-height: 57.599998474121094,
        letter-spacing: -0.096rem,
        paragraph-spacing: 4.8rem,
      ),
      h3: (
        font-size: 4rem,
        line-height: 48,
        letter-spacing: -0.04rem,
        paragraph-spacing: 4rem,
      ),
      h4: (
        font-size: 3rem,
        line-height: 36,
        letter-spacing: -0.03rem,
        paragraph-spacing: 3rem,
      ),
      h5: (
        font-size: 2.4rem,
        line-height: 31.200000762939453,
        letter-spacing: -0.024rem,
        paragraph-spacing: 2.4rem,
      ),
      h6: (
        font-size: 2rem,
        line-height: 30,
        letter-spacing: 0rem,
        paragraph-spacing: 2rem,
      ),
    ),
    body: (
      large: (
        font-size: 1.8rem,
        line-height: 30.600000381469727,
        letter-spacing: 0rem,
        paragraph-spacing: 1.8rem,
      ),
      normal: (
        font-size: 1.6rem,
        line-height: 27.200000762939453,
        letter-spacing: 0rem,
        paragraph-spacing: 1.6rem,
      ),
      small: (
        font-size: 1.4rem,
        line-height: 23.799999237060547,
        letter-spacing: 0rem,
        paragraph-spacing: 1.4rem,
      ),
      caption: (
        font-size: 1.2rem,
        line-height: 18,
        letter-spacing: 0.024rem,
        paragraph-spacing: 1.2rem,
      ),
      xtra-small: (
        font-size: 1.3rem,
        line-height: 19.5,
        letter-spacing: 0rem,
        paragraph-spacing: 1rem,
      ),
      notes: (
        font-size: 1rem,
        line-height: 15,
        letter-spacing: 0rem,
        paragraph-spacing: 1rem,
      ),
      thin: (
        font-size: 0.8rem,
        line-height: 12,
        letter-spacing: 0rem,
        paragraph-spacing: 0.6rem,
      ),
    ),
  ),
  tablet: (
    font-weight-text: Extrabold,
    font-weight-digit: 60rem,
    font-face: (
      family: (
        primary: Roboto,
        secondary: "Lexend Exa",
        tertiary: Poppins,
        serif: Hahmlet,
        sans-serif: Figtree,
      ),
      weight: (
        bold: (
          font-weight-text: Medium,
          font-weight-digit: 50rem,
        ),
        regular: (
          font-weight-text: Regular,
          font-weight-digit: 40rem,
        ),
        semibold: (
          font-weight-text: Medium,
          font-weight-digit: 50rem,
        ),
        style: (
          italic: Italic,
        ),
      ),
    ),
    headings: (
      main: (
        font-size: 6.4rem,
        line-height: 76.80000305175781,
        letter-spacing: -0.128rem,
        paragraph-spacing: 6.4rem,
      ),
      h1: (
        font-size: 4.8rem,
        line-height: 57.599998474121094,
        letter-spacing: -0.048rem,
        paragraph-spacing: 4.8rem,
      ),
      h2: (
        font-size: 4rem,
        line-height: 48,
        letter-spacing: -0.04rem,
        paragraph-spacing: 4rem,
      ),
      h3: (
        font-size: 3.2rem,
        line-height: 38.400001525878906,
        letter-spacing: -0.032rem,
        paragraph-spacing: 3.2rem,
      ),
      h4: (
        font-size: 2.8rem,
        line-height: 33.599998474121094,
        letter-spacing: 0rem,
        paragraph-spacing: 2.8rem,
      ),
      h5: (
        font-size: 2.2rem,
        line-height: 28.600000381469727,
        letter-spacing: 0rem,
        paragraph-spacing: 2.2rem,
      ),
      h6: (
        font-size: 1.8rem,
        line-height: 24,
        letter-spacing: 0rem,
        paragraph-spacing: 1.8rem,
      ),
    ),
    body: (
      large: (
        font-size: 1.8rem,
        line-height: 18,
        letter-spacing: 0rem,
        paragraph-spacing: 1.8rem,
      ),
      normal: (
        font-size: 1.6rem,
        line-height: 24,
        letter-spacing: 0rem,
        paragraph-spacing: 1.6rem,
      ),
      small: (
        font-size: 1.4rem,
        line-height: 21,
        letter-spacing: 0rem,
        paragraph-spacing: 1.4rem,
      ),
      caption: (
        font-size: 1.2rem,
        line-height: 18,
        letter-spacing: 0.024rem,
        paragraph-spacing: 1.2rem,
      ),
      xtra-small: (
        font-size: 1.3rem,
        line-height: 19.5,
        letter-spacing: 0rem,
        paragraph-spacing: 1rem,
      ),
      notes: (
        font-size: 1rem,
        line-height: 15,
        letter-spacing: 0rem,
        paragraph-spacing: 1rem,
      ),
      thin: (
        font-size: 0.8rem,
        line-height: 12,
        letter-spacing: 0rem,
        paragraph-spacing: 0.6rem,
      ),
    ),
  ),
  phone: (
    font-weight-text: Extrabold,
    font-weight-digit: 60rem,
    font-face: (
      family: (
        primary: Roboto,
        secondary: "Lexend Exa",
        tertiary: Poppins,
        serif: Hahmlet,
        sans-serif: Figtree,
      ),
      weight: (
        bold: (
          font-weight-text: Medium,
          font-weight-digit: 50rem,
        ),
        regular: (
          font-weight-text: Regular,
          font-weight-digit: 40rem,
        ),
        semibold: (
          font-weight-text: Medium,
          font-weight-digit: 50rem,
        ),
        style: (
          italic: Italic,
        ),
      ),
    ),
    headings: (
      main: (
        font-size: 5.6rem,
        line-height: 67.19999694824219,
        letter-spacing: -0.112rem,
        paragraph-spacing: 5.6rem,
      ),
      h1: (
        font-size: 3.2rem,
        line-height: 38.400001525878906,
        letter-spacing: -0.032rem,
        paragraph-spacing: 3.2rem,
      ),
      h2: (
        font-size: 3.2rem,
        line-height: 32,
        letter-spacing: 3.2rem,
        paragraph-spacing: 3.2rem,
      ),
      h3: (
        font-size: 2.6rem,
        line-height: 31.200000762939453,
        letter-spacing: -0.026rem,
        paragraph-spacing: 2.6rem,
      ),
      h4: (
        font-size: 2.2rem,
        line-height: 26.399999618530273,
        letter-spacing: -0.022rem,
        paragraph-spacing: 2.2rem,
      ),
      h5: (
        font-size: 2rem,
        line-height: 26,
        letter-spacing: -0.02rem,
        paragraph-spacing: 2rem,
      ),
      h6: (
        font-size: 1.8rem,
        line-height: 27,
        letter-spacing: 0rem,
        paragraph-spacing: 1.8rem,
      ),
    ),
    body: (
      large: (
        font-size: 1.6rem,
        line-height: 24,
        letter-spacing: 0rem,
        paragraph-spacing: 1.6rem,
      ),
      normal: (
        font-size: 1.6rem,
        line-height: 24,
        letter-spacing: 0rem,
        paragraph-spacing: 1.6rem,
      ),
      small: (
        font-size: 1.4rem,
        line-height: 21,
        letter-spacing: 0rem,
        paragraph-spacing: 1.4rem,
      ),
      caption: (
        font-size: 1.2rem,
        line-height: 18,
        letter-spacing: 0.024rem,
        paragraph-spacing: 1.2rem,
      ),
      xtra-small: (
        font-size: 1.3rem,
        line-height: 19.5,
        letter-spacing: 0rem,
        paragraph-spacing: 1rem,
      ),
      notes: (
        font-size: 0.8rem,
        line-height: 12,
        letter-spacing: 0rem,
        paragraph-spacing: 0.8rem,
      ),
      thin: (
        font-size: 0.8rem,
        line-height: 12,
        letter-spacing: 0rem,
        paragraph-spacing: 0.6rem,
      ),
    ),
  ),
);

$sizng-tokens: (
  radius: (
    xxs: 0.2rem,
    xs: 0.4rem,
    s: 0.8rem,
    m: 1.2rem,
    l: 2rem,
    xl: 3rem,
    full: 99.9rem,
  ),
  stroke-width: (
    xs: 0.05rem,
    s: 0.1rem,
    m: 0.2rem,
    l: 0.4rem,
  ),
);

$typography-primitive: (
  font-size: (
    size-6: 0.6rem,
    size-8: 0.8rem,
    size-10: 1rem,
    size-12: 1.2rem,
    size-14: 1.4rem,
    size-16: 1.6rem,
    size-18: 1.8rem,
    size-20: 2rem,
    size-22: 2.2rem,
    size-24: 2.4rem,
    size-26: 2.6rem,
    size-28: 2.8rem,
    size-30: 3rem,
    size-32: 3.2rem,
    size-34: 3.4rem,
    size-38: 3.6rem,
    size-40: 4rem,
    size-42: 4.2rem,
    size-48: 4.8rem,
    size-56: 5.6rem,
    size-64: 6.4rem,
    size-72: 7.2rem,
  ),
  line-height: (
    1-2:
      (
        1: 0.12rem,
        2: 0.24rem,
        3: 0.36rem,
        4: 0.48rem,
        5: 0.6rem,
        6: 0.72rem,
        7: 0.84rem,
        8: 0.96rem,
        9: 1.08rem,
        10: 1.2rem,
        11: 1.32rem,
        12: 1.44rem,
        13: 1.56rem,
        14: 1.68rem,
        15: 1.8rem,
        16: 1.92rem,
        17: 2.04rem,
        18: 2.16rem,
        19: 2.28rem,
        20: 2.4rem,
        21: 2.52rem,
        22: 2.64rem,
        23: 2.76rem,
        24: 2.88rem,
        25: 3rem,
        26: 3.12rem,
        27: 3.24rem,
        28: 3.36rem,
        29: 3.48rem,
        30: 3.6rem,
        31: 3.72rem,
        32: 3.84rem,
        33: 3.96rem,
        34: 4.08rem,
        35: 4.2rem,
        36: 4.32rem,
        37: 4.44rem,
        38: 4.56rem,
        39: 4.68rem,
        40: 4.8rem,
        41: 4.92rem,
        42: 5.04rem,
        43: 5.16rem,
        44: 5.28rem,
        45: 5.4rem,
        46: 5.52rem,
        47: 5.64rem,
        48: 5.76rem,
        49: 5.88rem,
        50: 6rem,
        51: 6.12rem,
        52: 6.24rem,
        53: 6.36rem,
        54: 6.48rem,
        55: 6.6rem,
        56: 6.72rem,
        57: 6.84rem,
        58: 6.96rem,
        59: 7.08rem,
        60: 7.2rem,
        61: 7.32rem,
        62: 7.44rem,
        63: 7.56rem,
        64: 7.68rem,
        65: 7.8rem,
        66: 7.92rem,
        67: 8.04rem,
        68: 8.16rem,
        69: 8.28rem,
        70: 8.4rem,
        71: 8.52rem,
        72: 8.64rem,
        73: 8.76rem,
        74: 8.88rem,
        75: 9rem,
        76: 9.12rem,
        77: 9.24rem,
        78: 9.36rem,
        79: 9.48rem,
        80: 9.6rem,
        81: 9.72rem,
        82: 9.84rem,
        83: 9.96rem,
        84: 10.08rem,
        85: 10.2rem,
        86: 10.32rem,
        87: 10.44rem,
        88: 10.56rem,
        89: 10.68rem,
        90: 10.8rem,
        91: 10.92rem,
        92: 11.04rem,
        93: 11.16rem,
        94: 11.28rem,
        95: 11.4rem,
        96: 11.52rem,
        97: 11.64rem,
        98: 11.76rem,
        99: 11.88rem,
        100: 12rem,
        101: 12.12rem,
        102: 12.24rem,
        103: 12.36rem,
        104: 12.48rem,
        105: 12.6rem,
        106: 12.72rem,
        107: 12.84rem,
      ),
    1-3:
      (
        1: 0.13rem,
        2: 0.26rem,
        3: 0.39rem,
        4: 0.52rem,
        5: 0.65rem,
        6: 0.78rem,
        7: 0.91rem,
        8: 1.04rem,
        9: 1.17rem,
        10: 1.3rem,
        11: 1.43rem,
        12: 1.56rem,
        13: 1.69rem,
        14: 1.82rem,
        15: 1.95rem,
        16: 2.08rem,
        17: 2.21rem,
        18: 2.34rem,
        19: 2.47rem,
        20: 2.6rem,
        21: 2.73rem,
        22: 2.86rem,
        23: 2.99rem,
        24: 3.12rem,
        25: 3.25rem,
        26: 3.38rem,
        27: 3.51rem,
        28: 3.64rem,
        29: 3.77rem,
        30: 3.9rem,
        31: 4.03rem,
        32: 4.16rem,
        33: 4.29rem,
        34: 4.42rem,
        35: 4.55rem,
        36: 4.68rem,
        37: 4.81rem,
        38: 4.94rem,
        39: 5.07rem,
        40: 5.2rem,
        41: 5.33rem,
        42: 5.46rem,
        43: 5.59rem,
        44: 5.72rem,
        45: 5.85rem,
        46: 5.98rem,
        47: 6.11rem,
        48: 6.24rem,
        49: 6.37rem,
        50: 6.5rem,
        51: 6.63rem,
        52: 6.76rem,
        53: 6.89rem,
        54: 7.02rem,
        55: 7.15rem,
        56: 7.28rem,
        57: 7.41rem,
        58: 7.54rem,
        59: 7.67rem,
        60: 7.8rem,
        61: 7.93rem,
        62: 8.06rem,
        63: 8.19rem,
        64: 8.32rem,
        65: 8.45rem,
        66: 8.58rem,
        67: 8.71rem,
        68: 8.84rem,
        69: 8.97rem,
        70: 9.1rem,
        71: 9.23rem,
        72: 9.36rem,
        73: 9.36rem,
        74: 9.62rem,
        75: 9.75rem,
        76: 9.88rem,
        77: 10.01rem,
        78: 10.14rem,
        79: 10.27rem,
        80: 10.4rem,
        81: 10.53rem,
        82: 10.66rem,
        83: 10.79rem,
        84: 10.92rem,
        85: 11.05rem,
        86: 11.18rem,
        87: 11.31rem,
        88: 11.44rem,
        89: 11.57rem,
        90: 11.7rem,
        91: 11.83rem,
        92: 11.96rem,
        93: 12.09rem,
        94: 12.22rem,
        95: 12.35rem,
        96: 12.48rem,
        97: 12.61rem,
        98: 12.74rem,
        99: 12.87rem,
        100: 13rem,
        101: 13.13rem,
        102: 13.26rem,
        103: 13.39rem,
        104: 13.52rem,
        105: 13.65rem,
        106: 13.78rem,
        107: 13.91rem,
      ),
    1-5:
      (
        1: 0.15rem,
        2: 0.3rem,
        3: 0.45rem,
        4: 0.6rem,
        5: 0.75rem,
        6: 0.9rem,
        7: 1.05rem,
        8: 1.2rem,
        9: 1.35rem,
        10: 1.5rem,
        11: 1.65rem,
        12: 1.8rem,
        13: 1.95rem,
        14: 2.1rem,
        15: 2.25rem,
        16: 2.4rem,
        17: 2.55rem,
        18: 2.7rem,
        19: 2.85rem,
        20: 3rem,
        21: 3.15rem,
        22: 3.3rem,
        23: 3.45rem,
        24: 3.6rem,
        25: 3.75rem,
        26: 3.9rem,
        27: 4.05rem,
        28: 4.2rem,
        29: 4.35rem,
        30: 4.5rem,
        31: 4.65rem,
        32: 4.8rem,
        33: 4.95rem,
        34: 5.1rem,
        35: 5.25rem,
        36: 5.4rem,
        37: 5.55rem,
        38: 5.85rem,
        39: 5.85rem,
        40: 6rem,
        41: 6.15rem,
        42: 6.3rem,
        43: 6.45rem,
        44: 6.6rem,
        45: 6.75rem,
        46: 6.9rem,
        47: 7.05rem,
        48: 7.2rem,
        49: 7.35rem,
        50: 7.5rem,
        51: 7.65rem,
        52: 7.8rem,
        53: 7.95rem,
        54: 8.1rem,
        55: 8.25rem,
        56: 8.4rem,
        57: 8.55rem,
        58: 8.7rem,
        59: 8.85rem,
        60: 9rem,
        61: 9.15rem,
        62: 9.3rem,
        63: 9.45rem,
        64: 9.6rem,
        65: 9.75rem,
        66: 9.9rem,
        67: 10.05rem,
        68: 10.2rem,
        69: 10.35rem,
        70: 10.5rem,
        71: 10.65rem,
        72: 10.8rem,
        73: 10.95rem,
        74: 11.1rem,
        75: 11.25rem,
        76: 11.4rem,
        77: 11.55rem,
        78: 11.7rem,
        79: 11.85rem,
        80: 12rem,
        81: 12.15rem,
        82: 12.3rem,
        83: 12.45rem,
        84: 12.6rem,
        85: 12.75rem,
        86: 12.9rem,
        87: 13.05rem,
        88: 13.2rem,
        89: 13.35rem,
        90: 13.5rem,
        91: 13.65rem,
        92: 13.8rem,
        93: 13.95rem,
        94: 14.1rem,
        95: 14.25rem,
        96: 14.4rem,
        97: 18.9296rem,
        98: 14.7rem,
        99: 14.85rem,
        100: 15rem,
        101: 15.15rem,
        102: 15.3rem,
        103: 15.45rem,
        104: 15.6rem,
        105: 15.75rem,
        106: 15.9rem,
        107: 16.05rem,
      ),
    1-7:
      (
        1: 0.17rem,
        2: 0.34rem,
        3: 0.51rem,
        4: 0.68rem,
        5: 0.85rem,
        6: 1.02rem,
        7: 1.19rem,
        8: 1.36rem,
        9: 1.53rem,
        10: 1.7rem,
        11: 1.87rem,
        12: 2.04rem,
        13: 2.21rem,
        14: 2.38rem,
        15: 2.55rem,
        16: 2.72rem,
        17: 2.89rem,
        18: 3.06rem,
        19: 3.23rem,
        20: 3.4rem,
        21: 3.57rem,
        22: 3.74rem,
        23: 3.91rem,
        24: 4.08rem,
        25: 4.25rem,
        26: 4.42rem,
        27: 4.59rem,
        28: 4.76rem,
        29: 4.93rem,
        30: 5.1rem,
        31: 5.27rem,
        32: 5.44rem,
        33: 5.61rem,
        34: 5.78rem,
        35: 5.95rem,
        36: 6.12rem,
        37: 6.29rem,
        38: 6.46rem,
        39: 6.63rem,
        40: 6.8rem,
        41: 6.97rem,
        42: 7.14rem,
        43: 7.31rem,
        44: 7.48rem,
        45: 7.65rem,
        46: 7.82rem,
        47: 7.99rem,
        48: 8.16rem,
        49: 8.33rem,
        50: 8.5rem,
        51: 8.67rem,
        52: 8.84rem,
        53: 9.01rem,
        54: 9.18rem,
        55: 9.35rem,
        56: 9.52rem,
        57: 9.69rem,
        58: 9.86rem,
        59: 10.03rem,
        60: 10.2rem,
        61: 10.37rem,
        62: 10.54rem,
        63: 10.71rem,
        64: 10.88rem,
        65: 11.05rem,
        66: 11.22rem,
        67: 11.39rem,
        68: 11.56rem,
        69: 11.73rem,
        70: 11.9rem,
        71: 12.07rem,
        72: 12.24rem,
        73: 12.41rem,
        74: 12.58rem,
        75: 12.75rem,
        76: 12.92rem,
        77: 13.09rem,
        78: 13.26rem,
        79: 13.43rem,
        80: 13.6rem,
        81: 13.77rem,
        82: 13.94rem,
        83: 14.11rem,
        84: 14.28rem,
        85: 14.45rem,
        86: 14.62rem,
        87: 14.79rem,
        88: 14.96rem,
        89: 15.13rem,
        90: 15.3rem,
        91: 15.47rem,
        92: 15.64rem,
        93: 15.81rem,
        94: 15.98rem,
        95: 16.15rem,
        96: 16.32rem,
        97: 16.49rem,
        98: 16.66rem,
        99: 16.83rem,
        100: 17rem,
        101: 17.17rem,
        102: 17.34rem,
        103: 17.51rem,
        104: 17.68rem,
        105: 17.85rem,
        106: 18.02rem,
        107: 18.19rem,
      ),
  ),
  font-weight: (
    digit: (
      100-thin: 10rem,
      200-extra-light: 20rem,
      300-light: 30rem,
      400-regular: 40rem,
      500-medium: 50rem,
      600-semibold: 60rem,
      700-bold: 70rem,
      800-extrabold: 80rem,
      900-black: 90rem,
    ),
    text: (
      thin: Thin,
      light: Light,
      regular: Regular,
      medium: Medium,
      semibold: Semibold,
      bold: Bold,
      extrabold: Extrabold,
      black: Black,
      italic: Italic,
    ),
  ),
  familly: (
    font-family-roboto: Roboto,
    font-familly-poppins: Poppins,
    font-familly-lexend: "Lexend Exa",
    fontfamilly-josefin-sans: "Josefin Sans",
    font-serif: Hahmlet,
    font-sans-serif: Figtree,
  ),
  paragraph-spacing: (
    2: 0.2rem,
    4: 0.4rem,
    6: 0.6rem,
    8: 0.8rem,
    10: 1rem,
    12: 1.2rem,
    14: 1.4rem,
    16: 1.6rem,
    18: 1.8rem,
    20: 2rem,
    22: 2.2rem,
    24: 2.4rem,
    26: 2.6rem,
    28: 2.8rem,
    30: 3rem,
    32: 3.2rem,
    34: 3.4rem,
    36: 3.6rem,
    38: 3.8rem,
    40: 4rem,
    42: 4.2rem,
    44: 4.4rem,
    46: 4.6rem,
    48: 4.8rem,
    50: 5rem,
    52: 5.2rem,
    54: 5.4rem,
    56: 5.6rem,
    58: 5.8rem,
    60: 6rem,
    62: 6.2rem,
    64: 6.4rem,
    66: 6.6rem,
    68: 6.8rem,
    70: 7rem,
    72: 7.2rem,
    74: 7.4rem,
    76: 7.6rem,
    78: 7.8rem,
    80: 8rem,
    82: 8.2rem,
    84: 8.4rem,
    86: 8.6rem,
    88: 8.8rem,
    90: 9rem,
    92: 9.2rem,
    94: 9.4rem,
    96: 9.6rem,
    98: 9.8rem,
    100: 10rem,
    102: 10.2rem,
    104: 10.4rem,
    106: 10.6rem,
  ),
  letter-spacing: (
    0: 0rem,
    1: (
      1: 0.001rem,
      2: 0.002rem,
      3: 0.003rem,
      4: 0.004rem,
      5: 0.005rem,
      6: 0.006rem,
      7: 0.007rem,
      8: 0.008rem,
      9: 0.009rem,
      10: 0.01rem,
      11: 0.011rem,
      12: 0.012rem,
      13: 0.013rem,
      14: 0.014rem,
      15: 0.015rem,
      16: 0.016rem,
      17: 0.017rem,
      18: 0.018rem,
      19: 0.019rem,
      20: 0.02rem,
      21: 0.021rem,
      22: 0.022rem,
      23: 0.023rem,
      24: 0.024rem,
      25: 0.025rem,
      26: 0.026rem,
      27: 0.027rem,
      28: 0.028rem,
      29: 0.028rem,
      30: 0.03rem,
      31: 0.031rem,
      32: 0.032rem,
      33: 0.033rem,
      34: 0.034rem,
      35: 0.035rem,
      36: 0.036rem,
      37: 0.037rem,
      38: 0.038rem,
      39: 0.039rem,
      40: 0.04rem,
      41: 0.041rem,
      42: 0.042rem,
      43: 0.043rem,
      44: 0.044rem,
      45: 0.045rem,
      46: 0.046rem,
      47: 0.047rem,
      48: 0.048rem,
      49: 0.049rem,
      50: 0.05rem,
      51: 0.051rem,
      52: 0.052rem,
      53: 0.053rem,
      54: 0.054rem,
      55: 0.055rem,
      56: 0.056rem,
      57: 0.057rem,
      58: 0.058rem,
      59: 0.059rem,
      60: 0.06rem,
      61: 0.061rem,
      62: 0.062rem,
      63: 0.063rem,
      64: 0.064rem,
      65: 0.065rem,
      66: 0.066rem,
      67: 0.067rem,
      68: 0.068rem,
      69: 0.069rem,
      70: 0.07rem,
      71: 0.071rem,
      72: 0.072rem,
      73: 0.073rem,
      74: 0.074rem,
      75: 0.075rem,
      76: 0.076rem,
      77: 0.077rem,
      78: 0.078rem,
      79: 0.079rem,
      80: 0.08rem,
      81: 0.081rem,
      82: 0.082rem,
      83: 0.083rem,
      84: 0.084rem,
      85: 0.085rem,
      86: 0.086rem,
      87: 0.087rem,
      88: 0.088rem,
      89: 0.089rem,
      90: 0.09rem,
      91: 0.091rem,
      92: 0.092rem,
      93: 0.093rem,
      94: 0.094rem,
      95: 0.095rem,
      96: 0.096rem,
      97: 0.097rem,
      98: 0.098rem,
      99: 0.099rem,
      100: 0.1rem,
      101: 0.101rem,
      102: 0.102rem,
      103: 0.103rem,
      104: 0.104rem,
      105: 0.105rem,
      106: 0.106rem,
      107: 13.91rem,
    ),
    2: (
      1: 0.002rem,
      2: 0.004rem,
      3: 0.006rem,
      4: 0.008rem,
      5: 0.01rem,
      6: 0.012rem,
      7: 0.014rem,
      8: 0.016rem,
      9: 0.018rem,
      10: 0.02rem,
      11: 0.022rem,
      12: 0.024rem,
      13: 0.026rem,
      14: 0.028rem,
      15: 0.03rem,
      16: 0.032rem,
      17: 0.034rem,
      18: 0.036rem,
      19: 0.038rem,
      20: 0.04rem,
      21: 0.042rem,
      22: 0.044rem,
      23: 0.046rem,
      24: 0.048rem,
      25: 0.05rem,
      26: 0.068rem,
      27: 0.054rem,
      28: 0.056rem,
      29: 0.058rem,
      30: 0.06rem,
      31: 0.062rem,
      32: 0.064rem,
      33: 0.066rem,
      34: 0.068rem,
      35: 0.07rem,
      36: 0.072rem,
      37: 0.074rem,
      38: 0.076rem,
      39: 0.078rem,
      40: 0.08rem,
      41: 0.082rem,
      42: 0.084rem,
      43: 0.086rem,
      44: 0.088rem,
      45: 0.09rem,
      46: 0.092rem,
      47: 0.094rem,
      48: 0.096rem,
      49: 0.098rem,
      50: 0.1rem,
      51: 0.102rem,
      52: 0.104rem,
      53: 0.106rem,
      54: 0.108rem,
      55: 0.11rem,
      56: 0.112rem,
      57: 0.114rem,
      58: 0.116rem,
      59: 0.118rem,
      60: 0.12rem,
      61: 0.122rem,
      62: 0.124rem,
      63: 0.126rem,
      64: 0.128rem,
      65: 0.13rem,
      66: 0.132rem,
      67: 0.134rem,
      68: 0.136rem,
      69: 0.138rem,
      70: 0.14rem,
      71: 0.142rem,
      72: 0.148rem,
      73: 0.146rem,
      74: 0.148rem,
      75: 0.15rem,
      76: 0.152rem,
      77: 0.154rem,
      78: 0.156rem,
      79: 0.158rem,
      80: 0.16rem,
      81: 0.162rem,
      82: 0.164rem,
      83: 0.166rem,
      84: 0.168rem,
      85: 0.17rem,
      86: 0.172rem,
      87: 0.174rem,
      88: 0.176rem,
      89: 0.178rem,
      90: 0.18rem,
      91: 0.182rem,
      92: 0.184rem,
      93: 0.186rem,
      94: 0.188rem,
      95: 0.19rem,
      96: 0.192rem,
      97: 0.194rem,
      98: 0.196rem,
      99: 0.198rem,
      100: 0.2rem,
      101: 0.202rem,
      102: 0.204rem,
      103: 0.206rem,
      104: 0.208rem,
      105: 0.21rem,
      106: 0.212rem,
      107: 0.214rem,
    ),
  ),
);

$color-primitives: (
  light: (
    blue: (
      50: #edf0fd,
      100: #dbe2fb,
      200: #b6c5f7,
      300: #8ba6f3,
      400: #5e8bef,
      500: #3671d9,
      600: #2959ad,
      700: #1d4284,
      800: #122f60,
      900: #081a3b,
      950: #041029,
    ),
    saffron-mango: (
      50: #fef5eb,
      100: #fdebd7,
      200: #fcd7a7,
      300: #fbc362,
      400: #ecb23c,
      500: #d9a336,
      600: #aa7f28,
      700: #7f5e1b,
      800: #553e0f,
      900: #302105,
      950: #1e1402,
    ),
    grayscale: (
      0: #ffffff,
      50: #f8f9fb,
      100: #f2f4f7,
      200: #e8ebf0,
      300: #dbe0e8,
      400: #ced5e0,
      500: #c3cbd9,
      600: #8e9fb9,
      700: #68758b,
      800: #454e5d,
      900: #232831,
      950: #14181e,
      999: #000000,
      white: #ffffff,
      black: #000000,
    ),
    green: (
      50: #ebffeb,
      100: #cafec9,
      200: #93fd8f,
      300: #4bf63f,
      400: #46e73a,
      500: #41d936,
      600: #31a928,
      700: #227e1b,
      800: #14550f,
      900: #072d05,
      950: #031d02,
    ),
    yellow: (
      50: #fffdf0,
      100: #fffbe0,
      200: #fff7bd,
      300: #fff49e,
      400: #fff07a,
      500: #ffec5c,
      600: #ffe414,
      700: #d1b900,
      800: #8a7a00,
      900: #473f00,
      950: #242000,
    ),
    red: (
      50: #fff0f1,
      100: #fee6e8,
      200: #fdc9cd,
      300: #fca1a9,
      400: #fa6b77,
      500: #d90718,
      600: #c60616,
      700: #ad0613,
      800: #8f0510,
      900: #68030c,
      950: #3b0207,
    ),
    purple: (
      50: #f6f3fc,
      100: #f0ebfa,
      200: #ddd2f4,
      300: #c8b5ed,
      400: #ac91e4,
      500: #8a62d8,
      600: #7e53d4,
      700: #6c3bce,
      800: #5e2fbc,
      900: #432187,
      950: #2f175e,
    ),
    light-blue: (
      50: #f6fbfe,
      100: #edf7fd,
      200: #d6ecfa,
      300: #c4e4f8,
      400: #aed9f5,
      500: #99d0f2,
      600: #53b0e9,
      700: #1b8dd5,
      800: #125d8c,
      900: #093048,
      950: #051824,
    ),
    gray-light: (
      50: #36526d,
      100: #4b7096,
      200: #7a9cbd,
      300: #a0b8cf,
      400: #becfdf,
      500: #dbe4ed,
      600: #e0e8f0,
      700: #ebf0f5,
      800: #f1f5f8,
      900: #f8fafc,
      950: #fcfcfd,
    ),
    kaki: (
      50: #fcf8f3,
      100: #f8f1e7,
      200: #f2e2cf,
      300: #ead1b3,
      400: #e3c097,
      500: #d9ab73,
      600: #d09853,
      700: #c18134,
      800: #a06c2c,
      900: #744e20,
      950: #543917,
    ),
  ),
  dark: (
    blue: (
      50: #041029,
      100: #081a3b,
      200: #122f60,
      300: #1d4284,
      400: #2959ad,
      500: #3671d9,
      600: #5e8bef,
      700: #8ba6f3,
      800: #b6c5f7,
      900: #dbe2fb,
      950: #edf0fd,
    ),
    saffron-mango: (
      50: #1e1402,
      100: #302105,
      200: #553e0f,
      300: #7f5e1b,
      400: #aa7f28,
      500: #d9a336,
      600: #ecb23c,
      700: #fbc362,
      800: #fcd7a7,
      900: #fdebd7,
      950: #fef5eb,
    ),
    grayscale: (
      0: #000000,
      50: #14181e,
      100: #232831,
      200: #454e5d,
      300: #68758b,
      400: #8e9fb9,
      500: #c3cbd9,
      600: #ced5e0,
      700: #dbe0e8,
      800: #e8ebf0,
      900: #f2f4f7,
      950: #f8f9fb,
      999: #ffffff,
      white: #ffffff,
      black: #000000,
    ),
    green: (
      50: #031d02,
      100: #072d05,
      200: #14550f,
      300: #227e1b,
      400: #31a928,
      500: #41d936,
      600: #46e73a,
      700: #4bf63f,
      800: #93fd8f,
      900: #cafec9,
      950: #ebffeb,
    ),
    yellow: (
      50: #242000,
      100: #473f00,
      200: #8a7a00,
      300: #d1b900,
      400: #ffe414,
      500: #ffec5c,
      600: #fff07a,
      700: #fff49e,
      800: #fff7bd,
      900: #fffbe0,
      950: #fffdf0,
    ),
    red: (
      50: #3b0207,
      100: #68030c,
      200: #8f0510,
      300: #ad0613,
      400: #c60616,
      500: #d90718,
      600: #fa6b77,
      700: #fca1a9,
      800: #fdc9cd,
      900: #fee6e8,
      950: #fff0f1,
    ),
    purple: (
      50: #2f175e,
      100: #432187,
      200: #5e2fbc,
      300: #6c3bce,
      400: #7e53d4,
      500: #8a62d8,
      600: #ac91e4,
      700: #c8b5ed,
      800: #ddd2f4,
      900: #f0ebfa,
      950: #f6f3fc,
    ),
    light-blue: (
      50: #051824,
      100: #093048,
      200: #125d8c,
      300: #1b8dd5,
      400: #53b0e9,
      500: #99d0f2,
      600: #aed9f5,
      700: #c4e4f8,
      800: #d6ecfa,
      900: #edf7fd,
      950: #f6fbfe,
    ),
    gray-light: (
      50: #36526d,
      100: #4b7096,
      200: #7a9cbd,
      300: #a0b8cf,
      400: #becfdf,
      500: #dbe4ed,
      600: #e0e8f0,
      700: #ebf0f5,
      800: #f1f5f8,
      900: #f8fafc,
      950: #fcfcfd,
    ),
    kaki: (
      50: #543917,
      100: #744e20,
      200: #a06c2c,
      300: #c18134,
      400: #d09853,
      500: #d9ab73,
      600: #e3c097,
      700: #ead1b3,
      800: #f2e2cf,
      900: #f8f1e7,
      950: #fcf8f3,
    ),
  ),
);

$number-primitives: (
  numbers: (
    number-munus-1: -0.1rem,
    number-0: 0rem,
    number-0dot5: 0.05rem,
    number-1: 0.1rem,
    number-2: 0.2rem,
    number-3: 0.3rem,
    number-4: 0.4rem,
    number-5: 0.5rem,
    number-6: 0.6rem,
    number-7: 0.7rem,
    number-8: 0.8rem,
    number-9: 0.9rem,
    number-10: 1rem,
    number-11: 1.1rem,
    number-12: 1.2rem,
    number-13: 1.3rem,
    number-14: 1.4rem,
    number-15: 1.5rem,
    number-16: 1.6rem,
    number-17: 1.7rem,
    number-18: 1.8rem,
    number-19: 1.9rem,
    number-20: 2rem,
    number-21: 2.1rem,
    number-22: 2.2rem,
    number-23: 2.3rem,
    number-24: 2.4rem,
    number-25: 2.5rem,
    number-26: 2.6rem,
    number-27: 2.7rem,
    number-28: 2.8rem,
    number-29: 2.9rem,
    number-30: 3rem,
    number-31: 3.1rem,
    number-32: 3.2rem,
    number-33: 3.3rem,
    number-34: 3.4rem,
    number-35: 3.5rem,
    number-36: 3.6rem,
    number-37: 3.7rem,
    number-38: 3.8rem,
    number-39: 3.9rem,
    number-40: 4rem,
    number-41: 4.1rem,
    number-42: 4.2rem,
    number-43: 4.3rem,
    number-44: 4.4rem,
    number-45: 4.5rem,
    number-46: 4.6rem,
    number-47: 4.7rem,
    number-48: 4.8rem,
    number-49: 4.9rem,
    number-50: 5rem,
    number-51: 5.1rem,
    number-52: 5.2rem,
    number-53: 5.3rem,
    number-54: 5.4rem,
    number-55: 5.5rem,
    number-56: 5.6rem,
    number-57: 5.7rem,
    number-58: 5.8rem,
    number-59: 5.9rem,
    number-60: 6rem,
    number-61: 6.1rem,
    number-62: 6.2rem,
    number-63: 6.3rem,
    number-64: 6.4rem,
    number-65: 6.5rem,
    number-66: 6.6rem,
    number-67: 6.7rem,
    number-68: 6.8rem,
    number-69: 6.9rem,
    number-70: 7rem,
    number-71: 7.1rem,
    number-72: 7.2rem,
    number-73: 7.3rem,
    number-74: 7.4rem,
    number-75: 7.5rem,
    number-76: 7.6rem,
    number-77: 7.7rem,
    number-78: 7.8rem,
    number-79: 7.9rem,
    number-80: 8rem,
    number-81: 8.1rem,
    number-82: 8.2rem,
    number-83: 8.3rem,
    number-84: 8.4rem,
    number-85: 8.5rem,
    number-86: 8.6rem,
    number-87: 8.7rem,
    number-88: 8.8rem,
    number-89: 8.9rem,
    number-90: 9rem,
    number-91: 9.1rem,
    number-92: 9.2rem,
    number-93: 9.3rem,
    number-94: 9.4rem,
    number-95: 9.5rem,
    number-96: 9.6rem,
    number-97: 9.7rem,
    number-98: 9.8rem,
    number-99: 9.9rem,
    number-100: 10rem,
    number-101: 10.1rem,
    number-102: 10.2rem,
    number-103: 10.3rem,
    number-104: 10.4rem,
    number-105: 10.5rem,
    number-106: 10.6rem,
    number-107: 10.7rem,
    number-999: 99.9rem,
  ),
);

$color-usage: (
  backgroud: (
    neutral: (
      primary: #000000,
      secondary: #14181e,
      tertiary: #232831,
      disabled: #454e5d,
    ),
    neutral-inverse: (
      primary: #f8f9fb,
      secondary: #f2f4f7,
      tertiary: #e8ebf0,
    ),
    brand: (
      primary: #8ba6f3,
      secondary: #1d4284,
      tertiary: #041029,
    ),
    semantic: (
      success: (
        subtle: #031d02,
        bold: #46e73a,
      ),
      warning: (
        subtle: #242000,
        bold: #fff49e,
      ),
      error: (
        subtle: #3b0207,
        bold: #fca1a9,
      ),
      info: (
        subtle: #051824,
        bold: #c4e4f8,
      ),
    ),
  ),
  text: (
    neutral: (
      primary: #f2f4f7,
      secondary: #e8ebf0,
      tertiary: #dbe0e8,
      disabled: #c3cbd9,
    ),
    neutral-inverse: (
      primary: #14181e,
      secondary: #454e5d,
      tertiary: #68758b,
    ),
    brand: (
      primary: #dbe2fb,
      inverse: #041029,
    ),
    semantic: (
      success: (
        primary: #cafec9,
        inverse: #031d02,
      ),
      warning: (
        primary: #fffbe0,
        inverse: #242000,
      ),
      error: (
        primary: #fee6e8,
        inverse: #3b0207,
      ),
      info: (
        primary: #edf7fd,
        inverse: #051824,
      ),
    ),
  ),
  icon: (
    neutral: (
      primary: #f2f4f7,
      secondary: #e8ebf0,
      tertiary: #dbe0e8,
      disabled: #c3cbd9,
    ),
    neutral-inverse: (
      primary: #14181e,
      secondary: #454e5d,
      tertiary: #68758b,
    ),
    brand: (
      primary: #dbe2fb,
      inverse: #041029,
    ),
    semantic: (
      success: (
        primary: #cafec9,
        inverse: #031d02,
      ),
      warning: (
        primary: #fffbe0,
        inverse: #242000,
      ),
      error: (
        primary: #fee6e8,
        inverse: #3b0207,
      ),
      info: (
        primary: #edf7fd,
        inverse: #051824,
      ),
    ),
  ),
  border: (
    neutral: (
      primary: #454e5d,
      secondary: #c3cbd9,
    ),
    neutral-inverse: (
      primary: #f2f4f7,
      secondary: #dbe0e8,
    ),
    brand: (
      primary: #b6c5f7,
      inverse: #081a3b,
    ),
    semantic: (
      success: (
        primary: #93fd8f,
        inverse: #072d05,
      ),
      warning: (
        primary: #fff7bd,
        inverse: #473f00,
      ),
      error: (
        primary: #fdc9cd,
        inverse: #68030c,
      ),
      info: (
        primary: #d6ecfa,
        inverse: #093048,
      ),
    ),
  ),
);

$texts: (
  desktop: (
    poppins: (
      bold: (
        main-title: (
          font-family: Poppins,
          font-size: 7.2rem,
          font-weight: 700,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: Poppins,
          font-size: 6.4rem,
          font-weight: 700,
          line-height: 7.68rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: Poppins,
          font-size: 4.8rem,
          font-weight: 700,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: Poppins,
          font-size: 4rem,
          font-weight: 700,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: Poppins,
          font-size: 3rem,
          font-weight: 700,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: Poppins,
          font-size: 2.4rem,
          font-weight: 700,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: Poppins,
          font-size: 2rem,
          font-weight: 700,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        body-normal: (
          font-family: Poppins,
          font-size: 1.6rem,
          font-weight: 700,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        body-caption: (
          font-family: Poppins,
          font-size: 1.4rem,
          font-weight: 700,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        body-extrasmall: (
          font-family: Poppins,
          font-size: 1.1rem,
          font-weight: 700,
          line-height: 1.95rem,
          letter-spacing: 0rem,
        ),
        body-notes: (
          font-family: Poppins,
          font-size: 0.9rem,
          font-weight: 700,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        body-thin: (
          font-family: Poppins,
          font-size: 0.8rem,
          font-weight: 700,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
      regular: (
        main-title: (
          font-family: Poppins,
          font-size: 7.2rem,
          font-weight: 400,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: Poppins,
          font-size: 6.4rem,
          font-weight: 400,
          line-height: 4.32rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: Poppins,
          font-size: 4.8rem,
          font-weight: 400,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: Poppins,
          font-size: 4rem,
          font-weight: 400,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: Poppins,
          font-size: 3rem,
          font-weight: 400,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: Poppins,
          font-size: 2.4rem,
          font-weight: 400,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: Poppins,
          font-size: 2rem,
          font-weight: 400,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        body-normal: (
          font-family: Poppins,
          font-size: 1.6rem,
          font-weight: 400,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        caption: (
          font-family: Poppins,
          font-size: 1.4rem,
          font-weight: 400,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        body-extrasmall: (
          font-family: Poppins,
          font-size: 1.1rem,
          font-weight: 400,
          line-height: 1.95rem,
          letter-spacing: 0rem,
        ),
        body-notes: (
          font-family: Poppins,
          font-size: 0.9rem,
          font-weight: 400,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        body-thin: (
          font-family: Poppins,
          font-size: 0.8rem,
          font-weight: 400,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
    ),
    lexend: (
      bold: (
        main-title: (
          font-family: "Lexend Exa",
          font-size: 7.2rem,
          font-weight: 700,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: "Lexend Exa",
          font-size: 6.4rem,
          font-weight: 700,
          line-height: 7.68rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: "Lexend Exa",
          font-size: 4.8rem,
          font-weight: 700,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: "Lexend Exa",
          font-size: 4rem,
          font-weight: 700,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: "Lexend Exa",
          font-size: 3rem,
          font-weight: 700,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: "Lexend Exa",
          font-size: 2.4rem,
          font-weight: 700,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: "Lexend Exa",
          font-size: 2rem,
          font-weight: 700,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        body-normal: (
          font-family: "Lexend Exa",
          font-size: 1.6rem,
          font-weight: 700,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        body-caption: (
          font-family: "Lexend Exa",
          font-size: 1.4rem,
          font-weight: 700,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        body-extrasmall: (
          font-family: "Lexend Exa",
          font-size: 1.1rem,
          font-weight: 700,
          line-height: 1.95rem,
          letter-spacing: 0rem,
        ),
        body-notes: (
          font-family: "Lexend Exa",
          font-size: 0.9rem,
          font-weight: 700,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        body-thin: (
          font-family: "Lexend Exa",
          font-size: 0.8rem,
          font-weight: 700,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
      regular: (
        main-title: (
          font-family: "Lexend Exa",
          font-size: 7.2rem,
          font-weight: 400,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: "Lexend Exa",
          font-size: 6.4rem,
          font-weight: 400,
          line-height: 7.68rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: "Lexend Exa",
          font-size: 4.8rem,
          font-weight: 400,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: "Lexend Exa",
          font-size: 4rem,
          font-weight: 400,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: "Lexend Exa",
          font-size: 3rem,
          font-weight: 400,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: "Lexend Exa",
          font-size: 2.4rem,
          font-weight: 400,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: "Lexend Exa",
          font-size: 2rem,
          font-weight: 400,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        normal: (
          font-family: "Lexend Exa",
          font-size: 1.6rem,
          font-weight: 400,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        caption: (
          font-family: "Lexend Exa",
          font-size: 1.4rem,
          font-weight: 400,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        extrasmall: (
          font-family: "Lexend Exa",
          font-size: 1.1rem,
          font-weight: 400,
          line-height: 1.95rem,
          letter-spacing: 0rem,
        ),
        notes: (
          font-family: "Lexend Exa",
          font-size: 0.9rem,
          font-weight: 400,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        thin: (
          font-family: "Lexend Exa",
          font-size: 0.8rem,
          font-weight: 400,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
    ),
    roboto: (
      bold: (
        main-title: (
          font-family: Roboto,
          font-size: 7.2rem,
          font-weight: 700,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: Roboto,
          font-size: 6.4rem,
          font-weight: 700,
          line-height: 7.68rem,
          letter-spacing: -0.128rem,
        ),
        h2: (
          font-family: Roboto,
          font-size: 4.8rem,
          font-weight: 700,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: Roboto,
          font-size: 4rem,
          font-weight: 700,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: Roboto,
          font-size: 3rem,
          font-weight: 700,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: Roboto,
          font-size: 2.4rem,
          font-weight: 700,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: Roboto,
          font-size: 2rem,
          font-weight: 700,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        body-normal: (
          font-family: Roboto,
          font-size: 1.6rem,
          font-weight: 700,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        body-caption: (
          font-family: Roboto,
          font-size: 1.4rem,
          font-weight: 700,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        body-extrasmall: (
          font-family: Roboto,
          font-size: 1.1rem,
          font-weight: 700,
          line-height: 1.95rem,
          letter-spacing: 0rem,
        ),
        body-notes: (
          font-family: Roboto,
          font-size: 0.9rem,
          font-weight: 700,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        body-thin: (
          font-family: Roboto,
          font-size: 0.8rem,
          font-weight: 700,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
      regular: (
        main-title: (
          font-family: Roboto,
          font-size: 7.2rem,
          font-weight: 400,
          line-height: 8.64rem,
          letter-spacing: -0.144rem,
        ),
        h1: (
          font-family: Roboto,
          font-size: 6.4rem,
          font-weight: 400,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h2: (
          font-family: Roboto,
          font-size: 4.8rem,
          font-weight: 400,
          line-height: 5.76rem,
          letter-spacing: -0.096rem,
        ),
        h3: (
          font-family: Roboto,
          font-size: 4rem,
          font-weight: 400,
          line-height: 4.8rem,
          letter-spacing: -0.04rem,
        ),
        h4: (
          font-family: Roboto,
          font-size: 3rem,
          font-weight: 400,
          line-height: 3.6rem,
          letter-spacing: -0.03rem,
        ),
        h5: (
          font-family: Roboto,
          font-size: 2.4rem,
          font-weight: 400,
          line-height: 3.12rem,
          letter-spacing: -0.024rem,
        ),
        h6: (
          font-family: Roboto,
          font-size: 2rem,
          font-weight: 400,
          line-height: 3rem,
          letter-spacing: 0rem,
        ),
        normal: (
          font-family: Roboto,
          font-size: 1.6rem,
          font-weight: 400,
          line-height: 2.72rem,
          letter-spacing: 0rem,
        ),
        caption: (
          font-family: Roboto,
          font-size: 1.4rem,
          font-weight: 400,
          line-height: 1.8rem,
          letter-spacing: 0.024rem,
        ),
        extrasmall: (
          font-family: Roboto,
          font-size: 1.1rem,
          font-weight: 400,
          line-height: 1.95rem,
          letter-spacing: 0rem,
        ),
        notes: (
          font-family: Roboto,
          font-size: 0.9rem,
          font-weight: 400,
          line-height: 1.5rem,
          letter-spacing: 0rem,
        ),
        thin: (
          font-family: Roboto,
          font-size: 0.8rem,
          font-weight: 400,
          line-height: 1.2rem,
          letter-spacing: 0rem,
        ),
      ),
    ),
    hahmlet: (
      headings: (
        semibold: (
          h1: (
            font-family: Hahmlet,
            font-size: 6.4rem,
            font-weight: 600,
            line-height: 7.68rem,
            letter-spacing: -0.128rem,
          ),
          h2: (
            font-family: Hahmlet,
            font-size: 4.8rem,
            font-weight: 600,
            line-height: 5.76rem,
            letter-spacing: -0.096rem,
          ),
          h3: (
            font-family: Hahmlet,
            font-size: 3rem,
            font-weight: 600,
            line-height: 3.6rem,
            letter-spacing: -0.03rem,
          ),
          h4: (
            font-family: Hahmlet,
            font-size: 3rem,
            font-weight: 600,
            line-height: 3.6rem,
            letter-spacing: -0.03rem,
          ),
          h5: (
            font-family: Hahmlet,
            font-size: 2.4rem,
            font-weight: 600,
            line-height: 3.12rem,
            letter-spacing: -0.024rem,
          ),
          h6: (
            font-family: Hahmlet,
            font-size: 2rem,
            font-weight: 600,
            line-height: 3rem,
            letter-spacing: 0rem,
          ),
        ),
        regular: (
          h1: (
            font-family: Hahmlet,
            font-size: 6.4rem,
            font-weight: 400,
            line-height: 7.68rem,
            letter-spacing: -0.128rem,
          ),
          h2: (
            font-family: Hahmlet,
            font-size: 4.8rem,
            font-weight: 400,
            line-height: 5.76rem,
            letter-spacing: -0.096rem,
          ),
          h3: (
            font-family: Hahmlet,
            font-size: 3rem,
            font-weight: 400,
            line-height: 3.6rem,
            letter-spacing: -0.03rem,
          ),
          h4: (
            font-family: Hahmlet,
            font-size: 3rem,
            font-weight: 400,
            line-height: 3.6rem,
            letter-spacing: -0.03rem,
          ),
          h5: (
            font-family: Hahmlet,
            font-size: 2.4rem,
            font-weight: 400,
            line-height: 3.12rem,
            letter-spacing: -0.024rem,
          ),
          h6: (
            font-family: Hahmlet,
            font-size: 2rem,
            font-weight: 400,
            line-height: 3rem,
            letter-spacing: 0rem,
          ),
        ),
      ),
      body: (
        large: (
          base: (
            font-family: Figtree,
            font-size: 1.8rem,
            font-weight: 400,
            line-height: 3.06rem,
            letter-spacing: 0rem,
          ),
          strong: (
            font-family: Figtree,
            font-size: 1.8rem,
            font-weight: 600,
            line-height: 3.06rem,
            letter-spacing: 0rem,
          ),
          italic: (
            font-family: Figtree,
            font-size: 1.8rem,
            line-height: 3.06rem,
            letter-spacing: 0rem,
          ),
        ),
        regular: (
          base: (
            font-family: Figtree,
            font-size: 1.6rem,
            font-weight: 400,
            line-height: 2.72rem,
            letter-spacing: 0rem,
          ),
          strong: (
            font-family: Figtree,
            font-size: 1.6rem,
            font-weight: 600,
            line-height: 2.72rem,
            letter-spacing: 0rem,
          ),
          italic: (
            font-family: Figtree,
            font-size: 1.6rem,
            line-height: 2.72rem,
            letter-spacing: 0rem,
          ),
        ),
        small: (
          base: (
            font-family: Figtree,
            font-size: 1.4rem,
            font-weight: 400,
            line-height: 2.38rem,
            letter-spacing: 0rem,
          ),
          strong: (
            font-family: Figtree,
            font-size: 1.4rem,
            font-weight: 600,
            line-height: 2.38rem,
            letter-spacing: 0rem,
          ),
          italic: (
            font-family: Figtree,
            font-size: 1.4rem,
            line-height: 2.38rem,
            letter-spacing: 0rem,
          ),
        ),
        caption: (
          caption: (
            font-family: Figtree,
            font-size: 1.2rem,
            font-weight: 600,
            line-height: 1.8rem,
            letter-spacing: 0.024rem,
          ),
        ),
        notes: (
          notes: (
            font-family: Figtree,
            font-size: 1rem,
            font-weight: 400,
            line-height: 1.5rem,
            letter-spacing: 0rem,
          ),
        ),
      ),
    ),
  ),
);

$grids: (
  mobile-grid: grid,
  desktop-large: grid,
);
