$colors-vector: #4ea674;
$colors-sharp: #023337;
$colors-what-youre-looking-for: #000000;
$typography-what-youre-looking-for-1: {"fontSize":7.777778148651123,"fontWeight":400,"lineHeight":9.333333969116211,"fontFamily":"Lato"};
$colors-frame-4123: #ffffff;
$colors-search: #eaf8e7;
$typography-cart: {"fontSize":7.777778148651123,"fontWeight":700,"lineHeight":9.333333969116211,"fontFamily":"Lato"};
$typography-deliver-to: {"fontSize":5.833333969116211,"fontWeight":400,"lineHeight":7.000000953674316,"fontFamily":"Lato"};
$typography-your-address: {"fontSize":6.805555820465088,"fontWeight":400,"lineHeight":8.166666984558105,"fontFamily":"Lato"};
$typography-en: {"fontSize":7.777778148651123,"fontWeight":700,"lineHeight":8.75,"fontFamily":"Lato"};
$typography-discover-the-latest-deals--up-to-50-off: {"fontSize":15.555556297302246,"fontWeight":400,"lineHeight":18.666667938232422,"fontFamily":"Lato"};
$effects-discover-the-latest-deals--up-to-50-off-1: {"type":"DROP_SHADOW","visible":false,"color":{"r":0,"g":0,"b":0,"a":0.5},"blendMode":"NORMAL","offset":{"x":1.9444445371627808,"y":1.9444445371627808},"radius":1.9444445371627808,"showShadowBehindNode":false};
$effects-arrownarrowright: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.14000000059604645},"blendMode":"NORMAL","offset":{"x":0,"y":3.8888890743255615},"radius":4.861111164093018,"spread":0.4861111342906952,"showShadowBehindNode":false};
$colors-see-more: #6467f2;
$typography-trending-product: {"fontSize":15.555556297302246,"fontWeight":700,"lineHeight":18.666667938232422,"fontFamily":"Lato"};
$effects-frame-4148: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":0.4861111342906952},"radius":1.4583334922790527,"showShadowBehindNode":false};
$typography-gaming-accessories: {"fontSize":10.69444465637207,"fontWeight":400,"lineHeight":12.833333969116211,"fontFamily":"Lato"};
$effects-frame-4126: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":1.4583334922790527},"radius":2.430555582046509,"showShadowBehindNode":false};
$typography-more-details: {"fontSize":4.861111164093018,"fontWeight":400,"lineHeight":5.833333492279053,"fontFamily":"Lato"};
$colors-rectangle-359: #2924ae;
$typography-250-off: {"fontSize":3.125,"fontWeight":700,"lineHeight":3.750000238418579,"fontFamily":"Lato"};
$typography-philips-4k-ambilight-tv: {"fontSize":7.777778148651123,"fontWeight":500,"lineHeight":9.333333969116211,"fontFamily":"Lato"};
$typography-75099: {"fontSize":6.805555820465088,"fontWeight":700,"lineHeight":8.166666984558105,"fontFamily":"Lato"};
$typography-shop-now: {"fontSize":5.18518590927124,"fontWeight":700,"lineHeight":6.222223281860352,"fontFamily":"Lato"};
$effects-frame-4126-1: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":0.9722222685813904},"radius":1.6203705072402954,"showShadowBehindNode":false};
$typography-shop-now-1: {"fontSize":3.4567902088165283,"fontWeight":700,"lineHeight":4.148148536682129,"fontFamily":"Lato"};
$effects-frame-4126-2: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":0.648148238658905},"radius":1.0802470445632935,"showShadowBehindNode":false};
$typography-shop-now-2: {"fontSize":5.833333969116211,"fontWeight":700,"lineHeight":7.000000953674316,"fontFamily":"Lato"};
$colors-frame-4126-3: #8b8b8b;
$typography-shop-now-3: {"fontSize":6.04938268661499,"fontWeight":700,"lineHeight":7.2592597007751465,"fontFamily":"Lato"};
$colors-frame-4126-4: #303030;
$effects-frame-4126-5: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":1.1342593431472778},"radius":1.8904321193695068,"showShadowBehindNode":false};
$typography-radiant-glow-hydrating-serum: {"fontSize":10.69444465637207,"fontWeight":700,"lineHeight":12.833333969116211,"fontFamily":"Lato"};
$typography-gentle-yet-effective-our-radiance-boosting-foaming: {"fontSize":7.777778148651123,"fontWeight":400,"lineHeight":10.69444465637207,"fontFamily":"Lato"};
$colors-star-2: #fbbd23;
$colors-342-reviews: #6b7280;
$typography-342-reviews-1: {"fontSize":6.805555820465088,"fontWeight":700,"lineHeight":9.722222328186035,"fontFamily":"Lato"};
$typography-buy-now: {"fontSize":3.703704357147217,"fontWeight":700,"lineHeight":4.444445610046387,"fontFamily":"Lato"};
$effects-frame-4126-6: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":0.6944445371627808},"radius":1.1574076414108276,"showShadowBehindNode":false};
$typography-visit-store: {"fontSize":5.833333969116211,"fontWeight":400,"lineHeight":9.236111640930176,"fontFamily":"Lato"};
$colors-rectangle-365: #d9d9d9;
$colors-buy-now-1: #c00308;
$typography-buy-now-2: {"fontSize":5.833333969116211,"fontWeight":400,"lineHeight":7.777778148651123,"fontFamily":"Lato"};
$effects-frame-4198: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":3.8888890743255615},"radius":4.861111164093018,"showShadowBehindNode":false};
$colors-49: #bd130f;
$colors-frame-4126-7: #0569b5;
$typography-420: {"fontSize":10.69444465637207,"fontWeight":700,"lineHeight":9.236111640930176,"fontFamily":"Lato"};
$typography-john-d: {"fontSize":11.734552383422852,"fontWeight":700,"lineHeight":14.081463813781738,"fontFamily":"Lato"};
$typography-from-100-reviews: {"fontSize":7.467442989349365,"fontWeight":400,"lineHeight":10.667776107788086,"fontFamily":"Inter"};
$typography-fast-delivery-and-fantastic-quality-the-customer-support-team-was-quick-to-resolve-my-query-dealport-has-earned-a-loyal-customer: {"fontSize":8.534220695495605,"fontWeight":400,"lineHeight":12.26794147491455,"fontFamily":"Lato"};
$typography-from-100-reviews-1: {"fontSize":6.805555820465088,"fontWeight":400,"lineHeight":9.722222328186035,"fontFamily":"Inter"};
$typography-fast-delivery-and-fantastic-quality-the-customer-support-team-was-quick-to-resolve-my-query-dealport-has-earned-a-loyal-customer-1: {"fontSize":7.777778148651123,"fontWeight":400,"lineHeight":11.180556297302246,"fontFamily":"Lato"};
$effects-frame-4126-8: {"type":"DROP_SHADOW","visible":false,"color":{"r":0,"g":0,"b":0,"a":0.11999999731779099},"blendMode":"NORMAL","offset":{"x":0,"y":1.4583334922790527},"radius":6.805555820465088,"spread":1.4583334922790527,"showShadowBehindNode":false};
$typography-company-info: {"fontSize":8.75,"fontWeight":500,"lineHeight":10.5,"fontFamily":"Lato"};
$colors-vector-1: #1877f2;
$colors-vector-2: #0076b2;
$colors-search-1: #c1e6ba;
$colors-dashboard: #165147;
$typography-search-data-users-or-reports: {"fontSize":7.47381067276001,"fontWeight":400,"lineHeight":8.968573570251465,"fontFamily":"Lato"};
$colors-search-2: #f9fafb;
$colors-vector-3: #4b5563;
$colors-ellipse-193: #ef4343;
$effects-light: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.14000000059604645},"blendMode":"NORMAL","offset":{"x":0,"y":0.9342263340950012},"radius":0.9342263340950012,"showShadowBehindNode":false};
$typography-dashboard-1: {"fontSize":10.276490211486816,"fontWeight":700,"lineHeight":12.331789016723633,"fontFamily":"Lato"};
$colors-vector-4: #6a717f;
$typography-main-menu: {"fontSize":7.006698131561279,"fontWeight":400,"lineHeight":11.210716247558594,"fontFamily":"Lato"};
$typography-dashboard-2: {"fontSize":7.47381067276001,"fontWeight":700,"lineHeight":10.276490211486816,"fontFamily":"Lato"};
$colors-4: #7367f0;
$typography-4-1: {"fontSize":13,"fontWeight":600,"lineHeight":14,"fontFamily":"Public Sans"};
$typography-order-management: {"fontSize":7.47381067276001,"fontWeight":400,"lineHeight":10.276490211486816,"fontFamily":"Lato"};
$colors-dealport: #1f2937;
$typography-dealport-1: {"fontSize":6.539584636688232,"fontWeight":600,"lineHeight":7.47381067276001,"fontFamily":"Inter"};
$colors-markthedesigner: #737373;
$typography-markthedesigner-1: {"fontSize":6.539584636688232,"fontWeight":400,"lineHeight":7.47381067276001,"fontFamily":"Inter"};
$effects-header-navigation-sidebar: {"type":"DROP_SHADOW","visible":false,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":0.4671131670475006},"radius":1.4013395309448242,"showShadowBehindNode":false};
$typography-your-shop: {"fontSize":7.006698131561279,"fontWeight":500,"lineHeight":8.408038139343262,"fontFamily":"Lato"};
$effects-frame-4271: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":0.4671131670475006},"radius":1.4013395309448242,"showShadowBehindNode":false};
$effects-frame-4227: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.11999999731779099},"blendMode":"NORMAL","offset":{"x":0,"y":1.4013395309448242},"radius":1.8684526681900024,"showShadowBehindNode":false};
$typography-last-7-days: {"fontSize":6.539584636688232,"fontWeight":400,"lineHeight":7.847501754760742,"fontFamily":"Lato"};
$colors-total-sales: #23272e;
$typography-total-sales-1: {"fontSize":8.408037185668945,"fontWeight":700,"lineHeight":12.144942283630371,"fontFamily":"Lato"};
$typography-cash: {"fontSize":14.94762134552002,"fontWeight":700,"lineHeight":17.93714714050293,"fontFamily":"Lato"};
$colors-vector-5: #1eb564;
$colors-104: #21c45d;
$typography-104-1: {"fontSize":6.539584636688232,"fontWeight":500,"lineHeight":7.847501754760742,"fontFamily":"Lato"};
$typography-details: {"fontSize":7.47381067276001,"fontWeight":400,"lineHeight":12.144942283630371,"fontFamily":"Lato"};
$colors-vector-6: #f87272;
$typography-this-week: {"fontSize":5.605358123779297,"fontWeight":500,"lineHeight":6.539584636688232,"fontFamily":"Poppins"};
$typography-last-week: {"fontSize":5.605358123779297,"fontWeight":400,"lineHeight":6.539584636688232,"fontFamily":"Poppins"};
$colors-action-button: #f0f3ff;
$typography-thursday: {"fontSize":5.605358123779297,"fontWeight":500,"lineHeight":6.7264299392700195,"fontFamily":"Lato"};
$colors-frame-1935: #f6fbf4;
$typography-sun: {"fontSize":5.605358123779297,"fontWeight":400,"lineHeight":7.645708084106445,"fontFamily":"Nunito"};
$typography-wed: {"fontSize":5.605358123779297,"fontWeight":700,"lineHeight":7.645708084106445,"fontFamily":"Nunito"};
$typography-paypal: {"fontSize":11.210716247558594,"fontWeight":700,"lineHeight":10.276490211486816,"fontFamily":"Lato"};
$colors-paypal-1: #8b909a;
$typography-paypal-2: {"fontSize":6.0724711418151855,"fontWeight":500,"lineHeight":8.408037185668945,"fontFamily":"Lato"};
$typography-text: {"fontSize":6.539584636688232,"fontWeight":400,"lineHeight":9.342264175415039,"fontFamily":"Lato"};
$typography-sales-by-country: {"fontSize":8.408037185668945,"fontWeight":600,"lineHeight":12.144942283630371,"fontFamily":"Lato"};
$colors-middle: #f7fcff;
$colors-shape: #e31d1c;
$colors-82: #2e42a5;
$colors-text-1: #4b465c;
$typography-text-2: {"fontSize":6.539584636688232,"fontWeight":600,"lineHeight":9.342264175415039,"fontFamily":"Public Sans"};
$typography-text-3: {"fontSize":5.605358123779297,"fontWeight":400,"lineHeight":6.5862956047058105,"fontFamily":"Public Sans"};
$colors-text-4: #28c76f;
$typography-text-5: {"fontSize":4.7369232177734375,"fontWeight":600,"lineHeight":6.631690979003906,"fontFamily":"Public Sans"};
$colors-right: #ef0000;
$colors-left: #2f8d00;
$colors-53: #ffe017;
$colors-outer: #f9e813;
$colors-214: #c51918;
$colors-55: #060101;
$colors-214-1: #013399;
$colors-12: #009933;
$colors-15: #ffd221;
$colors-10: #2b409a;
$colors-red: #f50100;
$typography-cash-1: {"fontSize":14.94762134552002,"fontWeight":700,"lineHeight":14.94762134552002,"fontFamily":"Lato"};
$typography-transaction: {"fontSize":8.408037185668945,"fontWeight":700,"lineHeight":10.089645385742188,"fontFamily":"Lato"};
$colors-no: #7c7c7c;
$colors-frame-25: #3c3c3c;
$colors-ellipse-1: #f0d411;
$typography-all-product: {"fontSize":5.605358123779297,"fontWeight":400,"lineHeight":6.7264299392700195,"fontFamily":"Lato"};
$colors-frame-7: #111111;
$typography-text-6: {"fontSize":7.006698131561279,"fontWeight":700,"lineHeight":10.276490211486816,"fontFamily":"Lato"};
$typography-product: {"fontSize":6.0724711418151855,"fontWeight":500,"lineHeight":7.135153293609619,"fontFamily":"Public Sans"};
$typography-apple-iphone-13: {"fontSize":7.006698131561279,"fontWeight":700,"lineHeight":8.408038139343262,"fontFamily":"Lato"};
$typography-text-7: {"fontSize":7.006698131561279,"fontWeight":400,"lineHeight":10.276490211486816,"fontFamily":"Lato"};
$typography-text-8: {"fontSize":7.006698131561279,"fontWeight":400,"lineHeight":10.276490211486816,"fontFamily":"Public Sans"};
$typography-electronic: {"fontSize":8.408037185668945,"fontWeight":400,"lineHeight":10.089645385742188,"fontFamily":"Lato"};
$typography-3999: {"fontSize":6.539584636688232,"fontWeight":700,"lineHeight":7.847501754760742,"fontFamily":"Lato"};
$typography-commerce-landing-page--dashboard-with-design-guide: {"fontSize":57,"fontWeight":400,"lineHeight":71.25,"fontFamily":"Familjen Grotesk"};
$typography-dashboard-3: {"fontSize":24,"fontWeight":400,"lineHeight":30,"fontFamily":"Familjen Grotesk"};
$typography-what-you-have-access-in-dashboard-page: {"fontSize":28,"fontWeight":400,"lineHeight":35,"fontFamily":"Familjen Grotesk"};
$colors-vector-7: #1abcfe;
$colors-vector-8: #0acf83;
$colors-vector-9: #ff7262;
$colors-vector-10: #f24e1e;
$colors-vector-11: #a259ff;
$typography-design-by: {"fontSize":20,"fontWeight":400,"lineHeight":25,"fontFamily":"Familjen Grotesk"};
$colors-typography: #4a4a68;
$typography-typography-1: {"fontSize":40,"fontWeight":700,"lineHeight":48,"fontFamily":"Lato"};
$typography-display-header-1: {"fontSize":18,"fontWeight":500,"lineHeight":25.19999885559082,"fontFamily":"Lato"};
$typography-025: {"fontSize":16,"fontWeight":500,"lineHeight":22.399999618530273,"fontFamily":"Lato"};
$colors-titleheader-1: #0e0e2c;
$typography-titleheader-1-1: {"fontSize":57,"fontWeight":700,"lineHeight":68.4000015258789,"fontFamily":"Lato"};
$typography-header-2: {"fontSize":32,"fontWeight":400,"lineHeight":38.400001525878906,"fontFamily":"Lato"};
$typography-2: {"fontSize":16,"fontWeight":500,"lineHeight":22.399999618530273,"fontFamily":"Work Sans"};
$typography-dashboard-4: {"fontSize":18,"fontWeight":700,"lineHeight":21.600000381469727,"fontFamily":"Lato"};
$typography-titlebody-large: {"fontSize":22,"fontWeight":400,"lineHeight":26.400001525878906,"fontFamily":"Lato"};
$typography-4-2: {"fontSize":16,"fontWeight":400,"lineHeight":19.200000762939453,"fontFamily":"Lato"};
$effects-frame-25-1: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":1},"radius":3,"showShadowBehindNode":false};
$effects-frame-24: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":1},"radius":8,"showShadowBehindNode":false};
$effects-frame-23: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":3},"radius":5,"showShadowBehindNode":false};
$effects-f70c9b: {"type":"INNER_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.05000000074505806},"blendMode":"NORMAL","offset":{"x":0,"y":0},"radius":12};
$typography-ocean-green: {"fontSize":16,"fontWeight":700,"lineHeight":19.200000762939453,"fontFamily":"Lato"};
$typography-4ea674: {"fontSize":10,"fontWeight":500,"lineHeight":12,"fontFamily":"Lato"};
$typography-ctas-focusedactive-states: {"fontSize":14,"fontWeight":500,"lineHeight":19.600000381469727,"fontFamily":"Lato"};
$typography-accent-color-hairlines-subtle-backgrounds: {"fontSize":14,"fontWeight":500,"lineHeight":19.600000381469727,"fontFamily":"Work Sans"};
$typography-grey: {"fontSize":16,"fontWeight":700,"lineHeight":18.76799964904785,"fontFamily":"Work Sans"};
$typography-7c7c7c: {"fontSize":10,"fontWeight":500,"lineHeight":11.729999542236328,"fontFamily":"Work Sans"};
$colors-rectangle-64: #c4c4c4;
$colors-rectangle-65: #ed4b9e;
$typography-icon: {"fontSize":40,"fontWeight":700,"lineHeight":46.91999816894531,"fontFamily":"Work Sans"};
$effects-primary-button: {"type":"DROP_SHADOW","visible":false,"color":{"r":0,"g":0,"b":0,"a":0.11999999731779099},"blendMode":"NORMAL","offset":{"x":0,"y":3},"radius":14,"spread":3,"showShadowBehindNode":false};
$typography-primary-button-1: {"fontSize":22,"fontWeight":700,"lineHeight":26.400001525878906,"fontFamily":"Lato"};
$typography-gentle-yet-effective-our-radiance-boosting-foaming-1: {"fontSize":16,"fontWeight":400,"lineHeight":22,"fontFamily":"Lato"};
$typography-342-reviews-2: {"fontSize":14,"fontWeight":700,"lineHeight":20,"fontFamily":"Lato"};
$typography-john-d-1: {"fontSize":24.139650344848633,"fontWeight":700,"lineHeight":28.967580795288086,"fontFamily":"Lato"};
$typography-from-100-reviews-2: {"fontSize":15.361597061157227,"fontWeight":400,"lineHeight":21.94513702392578,"fontFamily":"Inter"};
$typography-fast-delivery-and-fantastic-quality-the-customer-support-team-was-quick-to-resolve-my-query-dealport-has-earned-a-loyal-customer-2: {"fontSize":17.556110382080078,"fontWeight":400,"lineHeight":25.236907958984375,"fontFamily":"Lato"};
$effects-frame-4209: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.14000000059604645},"blendMode":"NORMAL","offset":{"x":0,"y":8},"radius":10,"spread":1,"showShadowBehindNode":false};
$typography-from-100-reviews-3: {"fontSize":14,"fontWeight":400,"lineHeight":20,"fontFamily":"Inter"};
$typography-fast-delivery-and-fantastic-quality-the-customer-support-team-was-quick-to-resolve-my-query-dealport-has-earned-a-loyal-customer-3: {"fontSize":16,"fontWeight":400,"lineHeight":23,"fontFamily":"Lato"};
$typography-subscribe: {"fontSize":16,"fontWeight":500,"lineHeight":19.200000762939453,"fontFamily":"Lato"};
$typography-main-menu-1: {"fontSize":15,"fontWeight":400,"lineHeight":24,"fontFamily":"Lato"};
$typography-dashboard-5: {"fontSize":16,"fontWeight":700,"lineHeight":22,"fontFamily":"Lato"};
$typography-dealport-2: {"fontSize":14,"fontWeight":600,"lineHeight":16,"fontFamily":"Inter"};
$typography-markthedesigner-2: {"fontSize":14,"fontWeight":400,"lineHeight":16,"fontFamily":"Inter"};
$effects-header-navigation-sidebar-1: {"type":"DROP_SHADOW","visible":false,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":1},"radius":3,"showShadowBehindNode":false};
$typography-your-shop-1: {"fontSize":15,"fontWeight":500,"lineHeight":18,"fontFamily":"Lato"};
$effects-frame-4227-1: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.11999999731779099},"blendMode":"NORMAL","offset":{"x":0,"y":3},"radius":4,"showShadowBehindNode":false};
$typography-last-7-days-1: {"fontSize":14,"fontWeight":400,"lineHeight":16.80000114440918,"fontFamily":"Lato"};
$typography-total-sales-2: {"fontSize":18,"fontWeight":700,"lineHeight":26,"fontFamily":"Lato"};
$typography-cash-2: {"fontSize":32,"fontWeight":700,"lineHeight":38.400001525878906,"fontFamily":"Lato"};
$typography-104-2: {"fontSize":14,"fontWeight":500,"lineHeight":16.80000114440918,"fontFamily":"Lato"};
$typography-details-1: {"fontSize":16,"fontWeight":400,"lineHeight":26,"fontFamily":"Lato"};
$typography-this-week-1: {"fontSize":12,"fontWeight":500,"lineHeight":14,"fontFamily":"Poppins"};
$typography-last-week-1: {"fontSize":12,"fontWeight":400,"lineHeight":14,"fontFamily":"Poppins"};
$typography-thursday-1: {"fontSize":12,"fontWeight":500,"lineHeight":14.40000057220459,"fontFamily":"Lato"};
$typography-sun-1: {"fontSize":12,"fontWeight":400,"lineHeight":16.368000030517578,"fontFamily":"Nunito"};
$typography-wed-1: {"fontSize":12,"fontWeight":700,"lineHeight":16.368000030517578,"fontFamily":"Nunito"};
$typography-paypal-3: {"fontSize":24,"fontWeight":700,"lineHeight":22,"fontFamily":"Lato"};
$typography-paypal-4: {"fontSize":13,"fontWeight":500,"lineHeight":18,"fontFamily":"Lato"};
$typography-text-9: {"fontSize":14,"fontWeight":400,"lineHeight":20,"fontFamily":"Lato"};
$typography-sales-by-country-1: {"fontSize":18,"fontWeight":600,"lineHeight":26,"fontFamily":"Lato"};
$typography-text-10: {"fontSize":14,"fontWeight":600,"lineHeight":20,"fontFamily":"Public Sans"};
$typography-text-11: {"fontSize":12,"fontWeight":400,"lineHeight":14.09999942779541,"fontFamily":"Public Sans"};
$typography-text-12: {"fontSize":10.14084529876709,"fontWeight":600,"lineHeight":14.197182655334473,"fontFamily":"Public Sans"};
$typography-cash-3: {"fontSize":32,"fontWeight":700,"lineHeight":32,"fontFamily":"Lato"};
$typography-1240: {"fontSize":32,"fontWeight":700,"lineHeight":34,"fontFamily":"Lato"};
$typography-144: {"fontSize":14,"fontWeight":500,"lineHeight":20,"fontFamily":"Lato"};
$typography-all-product-1: {"fontSize":12,"fontWeight":400,"lineHeight":14.40000057220459,"fontFamily":"Lato"};
$typography-text-13: {"fontSize":15,"fontWeight":700,"lineHeight":22,"fontFamily":"Lato"};
$typography-electronic-1: {"fontSize":18,"fontWeight":400,"lineHeight":21.600000381469727,"fontFamily":"Lato"};
$typography-3999-1: {"fontSize":14,"fontWeight":700,"lineHeight":16.80000114440918,"fontFamily":"Lato"};
$typography-all-order: {"fontSize":15,"fontWeight":500,"lineHeight":20,"fontFamily":"Lato"};
$typography-completed: {"fontSize":16,"fontWeight":500,"lineHeight":20,"fontFamily":"Lato"};
$typography-1: {"fontSize":15,"fontWeight":400,"lineHeight":18,"fontFamily":"Lato"};
$colors-pending: #f59f0a;
$typography-1-1: {"fontSize":15,"fontWeight":700,"lineHeight":18,"fontFamily":"Lato"};
$colors-customer-info: #9ca3af;
$colors-vector-12: #0f60ff;
$colors-vector-13: #06b6d4;
$typography-electronics: {"fontSize":18,"fontWeight":500,"lineHeight":21.600000381469727,"fontFamily":"Lato"};
$typography-add-card: {"fontSize":15,"fontWeight":500,"lineHeight":26,"fontFamily":"Lato"};
$colors-frame-4359: #fef1f1;
$typography-upload-product-image: {"fontSize":22,"fontWeight":700,"lineHeight":26,"fontFamily":"Lato"};
$typography-add-image: {"fontSize":15,"fontWeight":400,"lineHeight":22,"fontFamily":"Lato"};
$colors-frame-4370: #d7eacb;
$colors-frame-4371: #ecd3d6;
$colors-frame-4372: #d5dde0;
$colors-frame-4373: #ece7c9;
$colors-frame-4374: #464a4d;
$typography-wadewarrenexamplecom: {"fontSize":14,"fontWeight":400,"lineHeight":26,"fontFamily":"Lato"};
$colors-vector-14: #e33629;
$colors-vector-15: #f8bd00;
$colors-vector-16: #587dbd;
$colors-vector-17: #319f43;
$typography-linked: {"fontSize":8,"fontWeight":400,"lineHeight":9.600000381469727,"fontFamily":"Lato"};
$colors-ellipse-224: #f5172e;
$typography-en-1: {"fontSize":16,"fontWeight":700,"lineHeight":18,"fontFamily":"Lato"};
$effects-discover-the-latest-deals--up-to-50-off-2: {"type":"DROP_SHADOW","visible":false,"color":{"r":0,"g":0,"b":0,"a":0.5},"blendMode":"NORMAL","offset":{"x":4,"y":4},"radius":4,"showShadowBehindNode":false};
$typography-more-details-1: {"fontSize":10,"fontWeight":400,"lineHeight":12,"fontFamily":"Lato"};
$typography-250-off-1: {"fontSize":6.4285712242126465,"fontWeight":700,"lineHeight":7.714285850524902,"fontFamily":"Lato"};
$typography-shop-now-4: {"fontSize":10.666667938232422,"fontWeight":700,"lineHeight":12.800002098083496,"fontFamily":"Lato"};
$effects-frame-4126-9: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":2},"radius":3.3333334922790527,"showShadowBehindNode":false};
$typography-shop-now-5: {"fontSize":7.111111164093018,"fontWeight":700,"lineHeight":8.533333778381348,"fontFamily":"Lato"};
$effects-frame-4126-10: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":1.3333333730697632},"radius":2.222222328186035,"showShadowBehindNode":false};
$typography-shop-now-6: {"fontSize":12,"fontWeight":700,"lineHeight":14.40000057220459,"fontFamily":"Lato"};
$typography-shop-now-7: {"fontSize":12.44444465637207,"fontWeight":700,"lineHeight":14.933334350585938,"fontFamily":"Lato"};
$effects-frame-4126-11: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":2.3333334922790527},"radius":3.8888888359069824,"showShadowBehindNode":false};
$typography-buy-now-3: {"fontSize":7.619048595428467,"fontWeight":700,"lineHeight":9.142858505249023,"fontFamily":"Lato"};
$effects-frame-4126-12: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":1.4285714626312256},"radius":2.3809525966644287,"showShadowBehindNode":false};
$typography-visit-store-1: {"fontSize":12,"fontWeight":400,"lineHeight":19,"fontFamily":"Lato"};
$typography-buy-now-4: {"fontSize":12,"fontWeight":400,"lineHeight":16,"fontFamily":"Lato"};
$effects-frame-4198-1: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.20000000298023224},"blendMode":"NORMAL","offset":{"x":0,"y":8},"radius":10,"showShadowBehindNode":false};
$typography-420-1: {"fontSize":22,"fontWeight":700,"lineHeight":19,"fontFamily":"Lato"};
$typography-buy-now-5: {"fontSize":10.666666984558105,"fontWeight":700,"lineHeight":12.80000114440918,"fontFamily":"Lato"};
$effects-light-1: {"type":"DROP_SHADOW","visible":true,"color":{"r":0,"g":0,"b":0,"a":0.14000000059604645},"blendMode":"NORMAL","offset":{"x":0,"y":2},"radius":2,"showShadowBehindNode":false};
$typography-product-1: {"fontSize":13,"fontWeight":500,"lineHeight":15.274999618530273,"fontFamily":"Public Sans"};
$typography-text-14: {"fontSize":15,"fontWeight":400,"lineHeight":22,"fontFamily":"Public Sans"};
$colors-frame-4316: #f3f4f6;
$colors-frame-4378: #e9f9e6;