@use "sass:map";
@use "sass:string";
@use "css/globals/mixins/miscellaneous" as *;
@use "css/frontend/ecommerce/abstracts" as *;

/*--------------------- BASE ------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: $base-font-size;
}
body {
  box-sizing: border-box;
  font-family: string.unquote(map.get($font, family));
  // background-color: map.get($colors-ecommerce, white);
  background: $background-steps;
  font-size: $paragraph-size;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}
input {
  @include input-reset;
}
a {
  @include a-reset;
}
button {
  @include button-reset;
}
