@use 'css/training/pratique/image/abstracts' as *

/*----------------------- HEADER ----------------------*/
.grid-container
   &__header
      background-color: #fff
      padding: 1.25rem
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)
