@use 'css/admin/main/sass/abstracts' as *

.k-avatar
   position: relative
   overflow: hidden
   background-color: transparent
   border-radius: 50%
   &__img
      width: 100%
      height: 100%
   @each $current-size in $avatars
      &.k-avatar-#{$current-size}
         width: calc( ($current-size / 10) * 1rem)
         height: calc( ($current-size / 10) * 1rem)
   &-group
      display: flex
      align-items: center
      .k-avatar:not(:first-of-type)
         border: 0.2rem solid $global-bg-color
         margin-left: -0.8rem
