@use 'css/admin/main/sass/abstracts' as *

.k-card
   position: relative
   background-color: $card-bg-color
   border-radius: $default-border-radius
   height: 100%
   @include boxShadow
   &__header
      padding: 2rem
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 0.1rem solid $border-color
   &__title
      font-size: $card-title
      font-family: $heading-font-family
   &__body
      padding: 2rem
