@use 'css/admin/main/sass/abstracts' as *

.k-dropdown
   position: relative
   [data-dropdown-target]
      cursor: pointer
   &__menu
      background-color: $card-bg-color
      width: $default-dropdown-width
      height: auto
      max-height: $default-dropdown-max-height
      overflow: hidden auto
      border-radius: $default-border-radius
      position: absolute
      top: 120%
      left: 0
      opacity: 0
      visibility: hidden
      @include transition
      @include boxShadow
      @include customScrollbar
      &.k-active
         opacity: 1
         visibility: visible
   &.k-dropdown-abs-left &__menu
      left: 0
      right: auto
   &.k-dropdown-abs-center &__menu
      left: 50%
      transform: translateX(-50%)
   &.k-dropdown-abs-right &__menu
      left: auto
      right: 0
   @each $break,$value in $containers
      @include respond($break)
         &.k-dropdown-abs-left-#{$break} &__menu
            left: 0
            right: auto
            transform: translateX(0)
         &.k-dropdown-abs-center-#{$break} &__menu
            left: 50%
            transform: translateX(-50%)
         &.k-dropdown-abs-right-#{$break} &__menu
            left: auto
            right: 0
            transform: translateX(0)
