@use 'css/admin/main/sass/abstracts' as *

.k-tbl
   width: 100%
   overflow: hidden
   border-collapse: collapse
   border: 0.1rem solid $border-color
   &__header
      background-color: $tbl-header-bg-color
   &__head
      font-weight: $font-weight-bold
      font-family: $heading-font-family
      font-size: 1.4rem
   &__row:not(:last-of-type)
      border-bottom: 0.1rem solid $border-color
   &__head,&__data
      padding: 1.6rem
      text-align: left
      white-space: nowrap
