Options -Indexes
FileETag None

<IfModule mod_headers.c>
    Header always unset "X-Powered-By"
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Front Controller - only for non-existent files
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

    # Security Rules
    RewriteRule ^(\.env|\.git|composer\.(json|lock))$ - [F,L,NC]
    RewriteRule ^(App|src|webpack|Framework|vendor|scripts|log|FilesTemplates|docs|dist|bin|Temp|tests|token|tools)/(.*)$ - [F,L,NC]
    RewriteRule \.(md|sql|bak|swp|phps|fla|psd|sh)$ - [F,L,NC]
    RewriteRule "/\.|^\.(?!well-known/)" - [F,L]
</IfModule>