$fills: (
  primary: (
    primary-50: #edf0fd,
    primary-100: #dbe2fb,
    primary-200: #b6c5f7,
    primary-300: #8ba6f3,
    primary-400: #5e8bef,
    primary-500: #3671d9,
    primary-600: #2959ad,
    primary-700: #1d4284,
    primary-800: #122f60,
    primary-900: #081a3b,
  ),
  neutral: (
    white: #ffffff,
    black: (
      black-500: #667085,
      black-600: #4d5464,
      black-700: #333843,
      black-800: #1a1c21,
      black-900: #0a0b0d,
    ),
    gray: (
      gray-25: #f9f9fc,
      gray-50: #f0f1f3,
      gray-100: #e0e2e7,
      gray-200: #c2c6ce,
      gray-300: #a3a9b6,
      gray-400: #858d9d,
    ),
  ),
  secondary: (
    yellow: (
      yellow-50: #fdf1e8,
      yellow-100: #fae1cf,
      yellow-200: #f4c3a0,
      yellow-300: #efa670,
      yellow-400: #e98841,
      yellow-500: #e46a11,
      yellow-600: #ab500d,
      yellow-700: #723509,
      yellow-800: #391b04,
      yellow-900: #170b02,
    ),
    blue: (
      blue-50: #e8f8fd,
      blue-100: #d0f0fa,
      blue-200: #a1e0f4,
      blue-300: #71d1ef,
      blue-400: #42c1e9,
      blue-500: #13b2e4,
      blue-600: #0e86ab,
      blue-700: #0a5972,
      blue-800: #052d39,
      blue-900: #021217,
    ),
    red: (
      red-50: #feedec,
      red-100: #fcdad7,
      red-200: #f9b4af,
      red-300: #f68f88,
      red-400: #f36960,
      red-500: #f04438,
      red-600: #b4332a,
      red-700: #78221c,
      red-800: #3c110e,
      red-900: #180706,
    ),
    green: (
      green-50: #e7f4ee,
      green-100: #cfe7dc,
      green-200: #9ed0b9,
      green-300: #6eb895,
      green-400: #3da172,
      green-500: #0d894f,
      green-600: #0a673b,
      green-700: #074528,
      green-800: #032214,
      green-900: #010e08,
    ),
  ),
);

$texts: (
  display-m: (
    bold: (
      font-family: Inter,
      font-size: 2.4rem,
      font-weight: 700,
      line-height: 3.2rem,
      letter-spacing: 0.005em,
    ),
    semibold: (
      font-family: Inter,
      font-size: 2.4rem,
      font-weight: 600,
      line-height: 3.2rem,
      letter-spacing: 0.005em,
    ),
    medium: (
      font-family: Inter,
      font-size: 2.4rem,
      font-weight: 500,
      line-height: 3.2rem,
      letter-spacing: 0.005em,
    ),
    regular: (
      font-family: Inter,
      font-size: 2.4rem,
      font-weight: 400,
      line-height: 3.2rem,
      letter-spacing: 0.005em,
    ),
  ),
  display-s: (
    bold: (
      font-family: Inter,
      font-size: 2rem,
      font-weight: 700,
      line-height: 3rem,
      letter-spacing: 0.005em,
    ),
    semibold: (
      font-family: Inter,
      font-size: 2rem,
      font-weight: 600,
      line-height: 3rem,
      letter-spacing: 0.005em,
    ),
    medium: (
      font-family: Inter,
      font-size: 2rem,
      font-weight: 500,
      line-height: 3rem,
      letter-spacing: 0.005em,
    ),
    regular: (
      font-family: Inter,
      font-size: 2rem,
      font-weight: 400,
      line-height: 3rem,
      letter-spacing: 0.005em,
    ),
  ),
  display-xs: (
    bold: (
      font-family: Inter,
      font-size: 1.8rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0.005em,
    ),
    semibold: (
      font-family: Inter,
      font-size: 1.8rem,
      font-weight: 600,
      line-height: 2.8rem,
      letter-spacing: 0.005em,
    ),
    medium: (
      font-family: Inter,
      font-size: 1.8rem,
      font-weight: 500,
      line-height: 2.8rem,
      letter-spacing: 0.005em,
    ),
    regular: (
      font-family: Inter,
      font-size: 1.8rem,
      font-weight: 400,
      line-height: 2.8rem,
      letter-spacing: 0.005em,
    ),
  ),
  text-l: (
    bold: (
      font-family: Inter,
      font-size: 1.6rem,
      font-weight: 700,
      line-height: 2.4rem,
      letter-spacing: 0.005em,
    ),
    semibold: (
      font-family: Inter,
      font-size: 1.6rem,
      font-weight: 600,
      line-height: 2.4rem,
      letter-spacing: 0.005em,
    ),
    medium: (
      font-family: Inter,
      font-size: 1.6rem,
      font-weight: 500,
      line-height: 2.4rem,
      letter-spacing: 0.005em,
    ),
    regular: (
      font-family: Inter,
      font-size: 1.6rem,
      font-weight: 400,
      line-height: 2.2rem,
      letter-spacing: 0.005em,
    ),
  ),
  text-m: (
    bold: (
      font-family: Inter,
      font-size: 1.4rem,
      font-weight: 700,
      line-height: 2rem,
      letter-spacing: 0.005em,
    ),
    semibold: (
      font-family: Inter,
      font-size: 1.4rem,
      font-weight: 600,
      line-height: 2rem,
      letter-spacing: 0.005em,
    ),
    medium: (
      font-family: Inter,
      font-size: 1.4rem,
      font-weight: 500,
      line-height: 2rem,
      letter-spacing: 0.005em,
    ),
    regular: (
      font-family: Inter,
      font-size: 1.4rem,
      font-weight: 400,
      line-height: 2rem,
      letter-spacing: 0.005em,
    ),
  ),
  text-s: (
    bold: (
      font-family: Inter,
      font-size: 1.2rem,
      font-weight: 700,
      line-height: 1.8rem,
      letter-spacing: 0.005em,
    ),
    semibold: (
      font-family: Inter,
      font-size: 1.2rem,
      font-weight: 600,
      line-height: 1.8rem,
      letter-spacing: 0.005em,
    ),
    medium: (
      font-family: Inter,
      font-size: 1.2rem,
      font-weight: 500,
      line-height: 1.8rem,
      letter-spacing: 0.005em,
    ),
    regular: (
      font-family: Inter,
      font-size: 1.2rem,
      font-weight: 400,
      line-height: 1.8rem,
      letter-spacing: 0.005em,
    ),
  ),
);

$effects: (
  soft-shadow: 0px 4px 30px rgba(46, 45, 116, 0.10000000149011612),
  hard-shadow: 0px 1.5px 2px rgba(16, 24, 40, 0.10000000149011612),
);

$sizng-tokens: (
  radius: (
    xxs: 0.2rem,
    xs: 0.4rem,
    s: 0.8rem,
    m: 1.2rem,
    l: 2rem,
    xl: 3rem,
    full: 99.9rem,
  ),
  stroke-width: (
    xs: 0.05rem,
    s: 0.1rem,
    m: 0.2rem,
    l: 0.4rem,
  ),
);
