@use "sass:map";
@use "tokens" as *;
@use "design-system" as *;
@use "functions" as *;

// ========== COLOR TOKENS ==========
$color-primary: map-deep-get($fills, primary);

// Primary Colors
$primary-50: map-deep-get($color-primary, primary-50);
$primary-100: map-deep-get($color-primary, primary-100);
$primary-200: map-deep-get($color-primary, primary-200);
$primary-300: map-deep-get($color-primary, primary-300);
$primary-400: map-deep-get($color-primary, primary-400);
$primary-500: map-deep-get($color-primary, primary-500);
$primary-600: map-deep-get($color-primary, primary-600);
$primary-700: map-deep-get($color-primary, primary-700);
$primary-800: map-deep-get($color-primary, primary-800);
$primary-900: map-deep-get($color-primary, primary-900);

$color-secondary: map-deep-get($fills, secondary);

// Secondary Colors - Red
$red-50: map-deep-get($color-secondary, red, red-50);
$red-100: map-deep-get($color-secondary, red, red-100);
$red-200: map-deep-get($color-secondary, red, red-200);
$red-300: map-deep-get($color-secondary, red, red-300);
$red-400: map-deep-get($color-secondary, red, red-400);
$red-500: map-deep-get($color-secondary, red, red-500);
$red-600: map-deep-get($color-secondary, red, red-600);
$red-700: map-deep-get($color-secondary, red, red-700);
$red-800: map-deep-get($color-secondary, red, red-800);
$red-900: map-deep-get($color-secondary, red, red-900);

// Secondary Colors - Yellow
$yellow-50: map-deep-get($color-secondary, yellow, yellow-50);
$yellow-100: map-deep-get($color-secondary, yellow, yellow-100);
$yellow-200: map-deep-get($color-secondary, yellow, yellow-200);
$yellow-300: map-deep-get($color-secondary, yellow, yellow-300);
$yellow-500: map-deep-get($color-secondary, yellow, yellow-500);
$yellow-700: map-deep-get($color-secondary, yellow, yellow-700);

// Secondary Colors - Green/blue
$green-500: map-deep-get($color-secondary, green, green-500);
$blue-500: map-deep-get($color-secondary, blue, green-500);

$color-neutral: map-deep-get($fills, neutral);

// Neutral Colors
$white: map-deep-get($color-neutral, white);
$black-100: map-deep-get($color-neutral, black, black-100);
$black-500: map-deep-get($color-neutral, black, black-500);
$black-600: map-deep-get($color-neutral, black, black-600);
$black-700: map-deep-get($color-neutral, black, black-700);
$black-800: map-deep-get($color-neutral, black, black-800);
$black-900: map-deep-get($color-neutral, black, black-900);
$gray-25: map-deep-get($color-neutral, gray, gray-25);
$gray-50: map-deep-get($color-neutral, gray, gray-50);
$gray-100: map-deep-get($color-neutral, gray, gray-100);
$gray-200: map-deep-get($color-neutral, gray, gray-200);
$gray-300: map-deep-get($color-neutral, gray, gray-300);
$gray-400: map-deep-get($color-neutral, gray, gray-400);

//Semantics
$danger-color: map-deep-get($color-secondary, red, red-500);
$danger-light: map-deep-get($color-secondary, red, red-100);
$danger-dark: map-deep-get($color-secondary, red, red-600);
$warning-color: map-deep-get($color-secondary, yellow, yellow-500);
$warning-light: map-deep-get($color-secondary, yellow, yellow-100);
$info-color: map-deep-get($color-secondary, blue, blue-500);
$success-color: map-deep-get($color-secondary, green, green-500);

$progress-bg: map-deep-get($color-secondary, green, green-400);
$progress-fill: map-deep-get($color-secondary, green, gray-400);

//BORDER COLORS
$border-neutral-primary: map-deep-get($color-usage, border, neutral, primary);
$border-neutral-secondary: map-deep-get($color-usage, border, neutral, secondary);
$border-brand-primary: map-deep-get($color-usage, border, brand, primary);
$border-semantic-error: map-deep-get($color-usage, border, semantic, error, primary);

$border-neutral-disabled: map-deep-get($color-usage, border, neutral, disabled);
//BACKGROUND COLORS
$background-neutral-primary: map-deep-get($color-usage, "background", neutral, primary);
$background-neutral-secondary: map-deep-get($color-usage, "background", neutral, secondary);
$background-neutral-tertiary: map-deep-get($color-usage, "background", neutral, tertiary);
$background-neutral-disabled: map-deep-get($color-usage, "background", neutral, disabled);
$background-semantic-error-subtle: map-deep-get(
  $color-usage,
  "background",
  semantic,
  error,
  subtle
);
$background-brand-primary: map-deep-get($color-usage, "background", brand, primary);
$background-brand-secondary: map-deep-get($color-usage, "background", brand, secondary);
$background-brand-tertiary: map-deep-get($color-usage, "background", brand, tertiary);

// TEXT COLORS
$text-brand-primary: map-deep-get($color-usage, text, brand, primary);
$text-brand-inverse: map-deep-get($color-usage, text, brand, inverse);
$text-neutral-inverse-primary: map-deep-get($color-usage, text, neutral-inverse, primary);
$text-neutral-primary: map-deep-get($color-usage, text, neutral, primary);
$text-neutral-secondary: map-deep-get($color-usage, text, neutral, secondary);
$text-neutral-tertiary: map-deep-get($color-usage, text, neutral, tertiary);
$text-neutral-disabled: map-deep-get($color-usage, text, neutral, disabled);
$text-semantic-error: map-deep-get($color-usage, text, semantic, error, primary);
//ICON COLORS
$icon-neutral-primary: map-deep-get($color-usage, icon, neutral, primary);
$icon-neutral-secondary: map-deep-get($color-usage, icon, neutral, secondary);
$icon-neutral-tertiary: map-deep-get($color-usage, icon, neutral, tertiary);
$icon-neutral-disabled: map-deep-get($color-usage, icon, neutral, disabled);
$icon-semantic-error: map-deep-get($color-usage, icon, semantic, error, primary);
// TYPOGRAPHY
$display-m: map-deep-get($texts, display-m);
$display-s: map-deep-get($texts, display-s);
$display-xs: map-deep-get($texts, display-xs);
$text-l: map-deep-get($texts, text-l);
$text-m: map-deep-get($texts, text-m);
$text-s: map-deep-get($texts, text-s);
//TEXTS MAP
$roboto-map: map-deep-get($texts-design, desktop, roboto);
$hahmlet-map: map-deep-get($texts-design, desktop, hahmlet);
$poppins-map: map-deep-get($texts-design, desktop, poppins);

// EFFECTS
$soft-shadow: map-deep-get($effects, soft-shadow);
$hard-shadow: map-deep-get($effects, hard-shadow);
$shadow-s: map-deep-get($effects, s);
$shadow-m: map-deep-get($effects, m);
$shadow-l: map-deep-get($effects, l);

// ========== STROKE WIDTH ==========
$stroke-xs: map-deep-get($sizng-tokens, stroke-width, xs);
$stroke-s: map-deep-get($sizng-tokens, stroke-width, s);
$stroke-m: map-deep-get($sizng-tokens, stroke-width, m);
$stroke-l: map-deep-get($sizng-tokens, stroke-width, l);

// ========== BREAKPOINTS ==========
$breakpoints: (
  xs: 36rem,
  // 576px
  sm: 48rem,
  // 768px
  md: 62rem,
  // 992px
  lg: 75rem,
  // 1200px
  xl: 87.5rem,
  // 1400px
  xxl: 100rem // 1600px
) !default;

$breakpoints-short: $breakpoints !default;
// RADIUS
$radius: map-deep-get($sizng-tokens, radius);

$radius-xxs: map-deep-get($radius, xxs);
$radius-xs: map-deep-get($radius, xs);
$radius-s: map-deep-get($radius, s);
$radius-m: map-deep-get($radius, m);
$radius-l: map-deep-get($radius, l);
$radius-xl: map-deep-get($radius, xl);
$radius-full: map-deep-get($radius, full);

// ---------------------
// BUTTONS
// ---------------------

// Sizes
$button-sizes: (
  sm: (
    padding-y: 0.6rem,
    padding-x: 1.2rem,
    icon-size: 1.4rem
  ),
  md: (
    padding-y: 1rem,
    padding-x: 1rem,
    icon-size: 2rem
  ),
  md-small: (
    padding-y: 0.4rem,
    padding-x: 1.2rem,
    icon-size: null
  ),
  md-tags: (
    padding-y: 0.4rem,
    padding-x: 0.6rem,
    icon-size: 1.6rem
  ),
  md-compact: (
    padding-y: 1rem,
    padding-x: 1.4rem,
    icon-size: 2rem
  ),
  lg: (
    padding-y: 1.4rem,
    padding-x: 2.8rem,
    icon-size: 1.8rem
  )
);

// Variants
$button-variants: (
  default-text: (
    background: map-get($color-neutral, gray, gray-50),
    color: map-get($color-neutral, black, black-500),
    hover-background: map-get($color-neutral, gray, gray-100),
    typography: map-get($text-m, semibold),
    radius: map-get($radius, full),
    shadow: null
  ),
  primary: (
    background: map-get($color-primary, primary-500),
    color: map-get($color-neutral, white),
    hover-background: map-get($color-primary, primary-600),
    typography: map-get($text-m, semibold),
    radius: map-get($radius, s),
    shadow: $soft-shadow
  ),
  secondary: (
    background: map-get($color-primary, primary-100),
    color: map-get($color-primary, primary-500),
    hover-background: map-get($color-primary, primary-200),
    // hover-color: map-get($color-neutral, white),
    typography: map-get($text-m, semibold),
    radius: map-get($radius, s),
    shadow: $soft-shadow
  ),

  outlined: (
    background: transparent,
    color: map-get($color-neutral, gray, gray-400),
    border: 1px solid map-get($color-neutral, gray, gray-400),
    hover-background: rgba(map-get($color-primary, primary-100), 0.1),
    hover-color: map-get($color-neutral, black, black-500),
    typography: map-get($text-m, medium),
    radius: map-get($radius, s),
    shadow: null
  ),
  danger-light: (
    background: map-deep-get($color-secondary, red, red-100),
    color: map-deep-get($color-secondary, red, red-500),
    hover-background: map-deep-get($color-secondary, red, red-700),
    hover-color: map-get($color-secondary, red, red-50),
    typography: map-get($text-m, medium),
    radius: map-get($radius, s),
    shadow: null
  ),
  danger: (
    background: map-deep-get($color-secondary, red, red-500),
    color: map-get($color-neutral, white),
    hover-background: map-deep-get($color-secondary, red, red-600),
    typography: map-get($text-m, medium),
    radius: map-get($radius, s),
    shadow: $hard-shadow
  )
);

// FORM FIELD
//Default params

$form-field-defaults: (
  //1- general
  "input-box": input-box,
  "padding": 0.8rem 1.2rem,
  "background": #fff,
  "border": true,
  "accent-color": map-deep-get($color-primary, primary-500),
  "border-color": #e0e2e7,
  "radius": 0.8rem,
  "focus-color": $gray-200,
  "label-color": #666,
  "label-floating-color": #333,
  "label-float-size": 1.2rem,
  "gap-label-input": 0.4rem,
  "gap-input-hint": 0.8rem,
  "gap-typing-area": 0.4rem,
  "icon-size": 1.6rem,
  "label-text-style": null,
  "placeholder-text-style": null,
  "input-text-style": null,
  "textarea-text-style": null,
  "with-multiple-label-children": false,
  "input-min-height": 4rem,
  "font-family": inherit,
  "font-size": 1.6rem,
  "letter-spacing": inherit,
  "color": inherit,
  "font-weight": 500,
  "line-height": inherit,
  //2- checkbox/Radio
  "checkbox-radius": 0.3rem,
  "gap": 1ch,
  "direction": ltr,
  "box-size": 1.6rem,
  "border-width": 1px,
  "checked-bg-color": #000,
  "check-color": #fff,
  "checkmark-type": "text",
  "dot-color": #000,
  "dot-scale": 0.5,
  "show-box": true,
  "radio-pile-style": false,
  "checkbox-required": false,
  "default-label-style": null,
  "selected-label-style": null,
  //3- Texarea
  "textarea-min-height": 3lh,
  //4- Media
  "media-title-style": null,
  "media-text-style": null
);

// List of input types that should never have floating labels.
$default-non-floating-types: (
  "checkbox",
  "radio",
  "file",
  "range",
  "color",
  "date",
  "time",
  "datetime-local",
  "month",
  "week"
);
